@require "require/vars"
@require "require/global"
@require "require/modules/header"
@require "require/modules/footer"
@require "require/modules/banner"
@require "require/modules/metrics"
@require "require/modules/sections"
@require "require/modules/partners"
@require "require/modules/donate"
@require "require/modules/testimonials"
@require "require/modules/newsletter"
@require "require/modules/actions"
@require "require/modules/languages-search"
@require "require/modules/language-banner"
@require "require/modules/banner-short"
@require "require/modules/thumbnails"
@require "require/modules/grantee-thumbnail"
@require "require/archive-languages"
@require "require/archive-team"
@require "require/archive-reports"
@require "require/single-languages"
@require "require/single-projects"
@require "require/single-grantees"
@require "require/template-cohort"
@require "require/template-revitalization"
@require "require/template-general"