# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-content/themes/blankslate-child/stylus/main.css
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Themes
/wp-content/themes/twenty*/
/wp-content/themes/blankslate/
# /wp-content/themes/blankslate-child/

# All plugins
# Exclude
/wp-content/plugins/hello.php
/wp-content/plugins/*
/wp-content/plugins/*/build/
# Include
!/wp-content/plugins/typeahead/
!/wp-content/plugins/typeahead/build
!/wp-content/plugins/wt-gallery/

# Uploads
/wp-content/uploads/

# Log files
*.log
error_log

# htaccess
/.htaccess

# Misc
.ftpquota
ggstemp.html
readme_backup.md
temp/
temp-captions/
transmit_sync_offset_2135232021
/wp-content/backups-dup-pro/
tool-sync-db-from-prod.sh