# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/
/wp-content/themes/blankslate/
# /wp-content/themes/blankslate-child/

# Example plugin
/wp-content/plugins/hello.php
/wp-content/plugins/*
/wp-content/plugins/*/build/

# Uploads
/wp-content/uploads/

# Log files
*.log
error_log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
!/wp-content/plugins/typeahead/
!/wp-content/plugins/typeahead/build
!/wp-content/plugins/wt-gallery/

# Misc
.ftpquota
ggstemp.html
readme_backup.md
temp/
transmit_sync_offset_2135232021
/wp-content/backups-dup-pro/
tool-sync-db-from-prod.sh

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes