<?xml version="1.0"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/unit</directory>
    </testsuite>
    <testsuite name="Gateway">
      <directory>tests/unit/download-gateway</directory>
    </testsuite>
  </testsuites>
</phpunit>
