.wt_actions
	text-align center

	&__search
		display inline-block
		button(90%,$blue,$parchment)
		max-width 400px
		interactiveType($parchment)
		margin 0 auto
		
	&__contribute
		p
			margin $margin1
			bodyType($black)
		
		&--link
			display inline-block
			margin 0 10px
			interactiveType($black)
			transition .2s color ease-in-out
			
			&:hover
				color $blue
	
	&__signup
		display inline-block
		button(90%,$blue,$parchment)
		max-width 500px
		padding $margin1
		border 2px solid $blue
		interactiveType($parchment)
		margin $margin4 auto $margin2

@media all and (max-width:$mobile)
	.wt_actions
		&__signup
			margin $margin2 auto $margin1