.wt_banner
	height 80vh

	&__image
		float left
		width 50%
		height 100%
		backgroundImage()
	
	&__text
		position relative
		float left
		width 50%
		height 100%
		background $black
		color $parchment
		
		&>div
			width 90%
			max-width 400px
			text-align left
			
			h1
				headerType($parchment)
				margin-bottom $margin1
			
			h2
				subheadType($parchment)

	&__logo
		margin-top $margin1
		height 32px
		
		img
			width auto
			height 100%

@media all and (max-width:$mobile)
	.wt_banner
		height initial
		
		&__image
			float none
			width 100%
			padding-bottom 100%
			
		&__text
			float none
			width 100%
			padding $margin1
			box-sizing border-box
			
			&>div
				position relative
				top 0
				left 0
				transform none
				
				h1
					headerTypeMobile()
				
				h2
					subheadTypeMobile()