.wt_donate
	width 90%
	max-width 890px
	margin auto auto $margin4 auto
	text-align center
	
	h1
		headerType($black)
	
	&__call
		subheadType($black)
		width 100%
		max-width 668px
		margin $margin2 auto $margin1
	
	.wt_testimonial
		margin $margin2 0
		text-align left
		
		&__image
			width 20%
		
		&__text	
			h2
				position relative
				bodyTypeBold($black)
				
				&:before
					content "“"
					position absolute
					top -20px
					left -25px
					headerType($black)
	
	.wt_action
		&__primary
			display block
			text-align center
			button(100%,$blue)
			max-width 400px
			margin 0 auto $margin1
			interactiveType($parchment)
			transition .2s opacity ease-in-out
			
			&:hover
				opacity .9
		
		&__secondary
			interactiveType($black)
			
			span:first-of-type
				margin-right 5px
			
			&:hover
				interactiveType($blue)
	
@media all and (max-width:$mobile)
	.wt_donate
		h1
			headerTypeMobile()
			
		aside
			width 100%
			display block
			
			h1
				padding 0 !important
				text-align center
		
		.wt_testimonial
			h2:before
				display none