.wt_newsletter
	width 90%
	max-width 880px
	margin auto auto $margin4
	color $parchment
	text-align center

	h1
		headerType($parchment)
		margin-bottom $margin1

	&__text
		width 48%
		display inline-block
		vertical-align middle
		subheadType($parchment)
		text-align left

	&__form
		width 50%
		display inline-block
		vertical-align middle
		
		.mc-field-group
			width 100%
			margin-right 2%
			
			input
				width 100%
				border 0
				border-top-left-radius 3px
				border-top-right-radius 3px
				padding 15px
				background $parchment
				bodyType($black)
				text-align center
				
				&:focus
					outline none
				
				&::placeholder
					color $black
		
		.clear:last-of-type
			input[type="submit"]
				width 100%
				border none
				border-bottom-left-radius 3px
				border-bottom-right-radius 3px
				padding 15px
				background $blue
				interactiveType($parchment)
				cursor pointer

@media all and (max-width:$mobile)
	.wt_newsletter
		margin-bottom $margin2
		
		h1
			headerTypeMobile()
		
		&__text
			width 100%
			display block
			margin-bottom $margin1
			text-align center
			subheadTypeMobile()
		
		&__form
			width 100%
			display block