.wt_partners
	margin $margin4
	
	h1
		headerType($black)
		margin-bottom $margin2
		text-align center

	&__icons
		ul
			text-align center
			
			li
				display inline-block
				width 20%
				margin auto 3%

				img
					width 100%
					height auto
					
				p
					bodyTypeBold($black)

@media all and (max-width:$mobile)
	.wt_partners
		margin $margin1 auto
		width 90%
		
		h1
			headerTypeMobile()
		
		&__icons
			ul
				li
					width 75%
					margin-bottom $margin1
			