.wt_section
	display flex
	margin-bottom $margin1
	padding $margin1 0
	color $black

	&__image
		position relative
		width 40%
		padding-bottom 40%
		backgroundImage()
		
		&:before
			content ""
			position absolute
			z-index -1
			top 50%
			left 0
			transform translate(0,-50%)
			width 105%
			height 110%
			background $black
	
	&__text
		position relative
		width 60%
		box-sizing border-box
		
		&>div
			width 100%
			max-width 460px
			text-align left
			
			h1
				headerType($black)
			
			h2
				width 100%
				subheadType($black)
				margin 40px 0 45px
			
			.wt_action
				&__primary
					display block
					text-align center
					button(100%,$blue)
					max-width 400px
					margin-bottom $margin1
					interactiveType($parchment)
					transition .2s margin-left ease-in-out
					
					&:hover
						margin-left 7.5px
						opacity .9
				
				&__secondary
					interactiveType($black)
					
					span:first-of-type
						margin-right 5px
					
					&:hover
						interactiveType($blue)
			
	&:nth-of-type(even)
		flex-direction row-reverse
		
		.wt_section__image
			&:before
				left initial
				right 0
	
	&:last-of-type
		margin-bottom 0

@media all and (max-width:$mobile)
	.wt_section
		display block
		padding-top 0
		margin-bottom 0
		
		aside
			width 100%
			float none
			
			&>div
				position relative
				top initial
				left initial
				transform none
				padding $margin1
				box-sizing border-box
				
				h1
					headerTypeMobile()
					
				h2
					subheadTypeMobile()