.wt_testimonial
	width 100%
	max-width 890px
	margin $margin3 auto 0
	
	&__image
		width 25%
		display inline-block
		vertical-align middle
		border-radius 100% 
		margin-right 7%
		
	&__text
		width 67%
		display inline-block
		vertical-align middle
		
		h2
			position relative
			bodyTypeBold($black)
			margin-bottom $margin0
			
			&:before
				content "“"
				position absolute
				top -20px
				left -25px
				headerType($black)
		
		p
			bodyType($black)

@media all and (max-width:$mobile)
	.wt_testimonial
		&__image
			display block
			width 66.6%
			margin 0 auto $margin1
			
		&__text
			display block
			width 100%
			display block
			
			h2
				text-align center
				
				&:before
					display none
			
			p
				text-align center