body
	&.post-type-archive-team
		.wt_team
			margin-top $margin3
			text-align center
			
			&#board-and-staff
				.wt_team__member
					width 29%
			
			&#advisors
				.wt_team__member
					width 29%
			
			&#interns-and-volunteers
				.wt_team__member
					width 20%
				
			&__title
				h1
					margin-bottom $margin1
					headerType($black)
			
			&__member
				display inline-block
				vertical-align top
				margin 0 1% 2% 1%
				text-align left
				
				&--image
					width 100%
					padding-bottom 100%
					background-size cover
					background-position center center
				
				&--noimage
					width 100%
					padding-bottom 100%
					background $blue
				
				&--name
					strong
						display block
						margin-top $margin0
						bodyTypeBold($black)
					
					p
						bodyType($black)
		
		.wt_footer
			padding-top $margin3

@media all and (max-width:$mobile)
	body
		&.post-type-archive-team
			.wt_team
				margin-top $margin2
				
				&__title
					h1
						headerTypeMobile($parchment)
				
				&__member
					width 47.5% !important
					margin 0 0.5% 15px !important
					text-align center
					
					strong
						margin-top 5px
			
			.wt_footer
				padding-top $margin2