body
	&.post-type-archive-languages
		.wt_metrics
			&__icons
				margin-top 0 !important

		.wt_donate
			margin-top $margin4 !important

@media all and (max-width:$mobile)
	body
		&.post-type-archive-languages
			.wt_metrics
				display none
			
			.wt_actions
				margin-top $margin2