.wt_banner--team
	margin-bottom 6rem
	padding 6rem
	background $purple
	text-align center
	
	h1
		text--header($parchment)
		margin-bottom 3rem
	
	p
		text--body($parchment)

@media all and (max-width:$mobile)
	.wt_banner--team
		margin-bottom 3rem
		padding 6rem 3rem