.wt_banner--languages
	width 100%
	margin-bottom 6rem
	padding 120px
	border-bottom 1px solid $parchment
	background $purple
	text-align center
	
	&__meta
		h1
			margin-bottom 1.5rem
			text--header($parchment)
		
		strong
			text--strong($parchment)
		
		p
			text--body($parchment)
			text-transform uppercase
		
		ul
			margin-top 3rem
			text-transform uppercase
			
			li
				display inline-block
				vertical-align top
				margin 0 1.5rem
				
				p
					&:last-of-type
						display inline-block
						margin-top 1rem
						padding 1rem 1.5rem
						background $parchment
						color $purple