.wt_banner_alert
	display flex
	width 100%
	height auto
	padding 16px
	font-size 16px
	align-items center

.banner_alert_container 
	display flex
	justify-content center
	padding 8px
	background-color #3814a5
	border #dcdcdc80
	border-style solid
	border-width 0.5px
	color #dcdcdc
	width 100%
	height auto
	font-family 'Graphik Web'

#banner_alert_button
	padding 10px
	margin 10px
	width auto
	color #3814a5
	border none 
	white-space nowrap

#banner_alert_button_link
	text-decoration none

#banner_alert_close_button
	position absolute
	right 8px
	font-size 24px
	padding 10px
	margin-top 5px
	cursor pointer
