body
	&.home
		.wt_banner
			height calc(100vh/3*2)
			
.wt_banner
	position relative
	width 100%
	height calc(100vh/5*2)
	margin-bottom 6rem
	padding-top 80px
	box-sizing content-box
	background-position center
	background-size cover
	background-repeat no-repeat
	
	&:before
		content ''
		position absolute
		top 0
		width 100%
		height 100%
		background rgba(0,0,0,.3)
	
	&__copy
		position absolute
		top 50%
		right 5%
		transform translateY(-50%)
		width 45rem
		
		&--mobile
			display none
		
		.wt_text
			&--header
				text--header($parchment)
		
			&--body
				margin 3rem 0
				text--body($parchment)
				
				strong
					text--strong($parchment)
				
		.wt_button--large
			button--large($parchment,$blue)
			
			i
				margin-left 0.5rem
				font-size 1.6rem
	
@media all and (max-width:$mobile)
	.wt_banner
		height 15vh !important
		margin-bottom 0
		
		&__copy
			display none
			
			&--mobile
				display block
				margin-bottom 3rem
				box-sizing border-box
				padding 3rem
				background $purple
				
				.wt_text
					&--header
						text--header($parchment)
				
					&--body
						margin 3rem 0
						text--body($parchment)
						
						strong
							text--strong($parchment)
						
				.wt_button--large
					button--large($white,$purple)
					
					i
						margin-left 0.5rem
						font-size 1.6rem