.wt_banner
	position relative
	width 100%
	height calc(100vh/3*2)
	background-position center
	background-size cover
	
	&__copy
		position absolute
		top 50%
		right 5%
		transform translateY(-50%)
		width calc(100%/3)
		