/* 
 * I would like to consolidate .banner_alert_container
 * with the nested .wt_banner-alert class below, but whenever 
 * I change it, the styling breaks and I don't know why. 
 */
 
.banner_alert_container 
	position relative
	display flex
	justify-content center
	width 100%
	height auto
	max-width 1800px
	padding $margin0
	background-color $blue

.wt_banner-alert
	&__text
		display flex
		align-items center
		width 100%
		height auto
		text--body($parchment)
		font-size 1.28rem !important
		font-weight 700 !important
		text-transform uppercase !important
	
	&__button
		margin-left $margin0
		button--small($parchment,$blue)
	
		&--link
			display flex
			align-items center
			text-decoration none
			
			i
				margin-left .83rem
		
		&--close
			position absolute
			top 50%
			right 8px
			transform translateY(-50%)
			padding 10px
			font-size 24px
			cursor pointer
			color $parchment
			background none
			border none
			color $parchment