.wt_button--wide
	width 100%
	max-width 300px
	margin 0 auto 6rem
	display block !important
	button--large($blue, $parchment)
	text-align center

@media all and ( max-width: $mobile )
	.wt_button--wide
		max-width none
		margin-bottom 4.5rem
