.wt_carousel--thumbnails
	display flex
	flex-direction row
	justify-content left
	width 95%
	margin auto
	overflow-x scroll
	
	.wt_thumbnail
		display flex
		flex-direction row
		align-items center
				
		&__image
			max-width auto
			max-height 170px
		
		&__copy
			display inline-block
			padding-left 3rem
			text--strong($black)
			
			p
				width 25rem
				margin-bottom 1.5rem
			
			a
				button--small($blue,$parchment)