.wt_carousel--testimonials
	p
		width 100%
		margin-bottom 1.5rem
		text-align center
		
		strong
			text--strong($black)

	ul
		display flex
		flex-direction row
		margin-bottom 6rem

		.wt_testimonial
			display flex
			flex-direction row
			margin 0 auto
			align-items center

			&__image
				max-width 200px
				border-radius 100%
				margin-right 3rem
			
			&__copy
				p
					margin-bottom 1.5rem
					width 90%
					max-width 580px
					text--body($black)
					text-align left
					
					span:last-of-type
						display block
						width 100%
						margin-top 1.5rem 1.5rem 3rem 0
						text-align left
						font-style italic
					
				a
					button--small($blue,$parchment)
					
					i
						margin-left 0.5rem

@media all and (max-width:$mobile)
	.wt_carousel--testimonials
		p
			margin-bottom 3rem
			
		ul
			.wt_testimonial
				display block
				
				&__image
					display block
					margin auto
				
				&__copy
					p
						margin 3rem auto
					
					a
						display block
						margin auto
						width 110px