.wt_content-block--wide
	position relative
	display flex
	flex-direction row
	align-items center
	width 95%
	margin 6rem auto
	
	&:before
		content ''
		z-index -1
		position absolute
		top 2.5%
		left .75%
		width 99.25%
		height 100%
		background $blue
	
	&__image
		width 55%
		padding-bottom 33%
		background-size cover
		background-repeat no-repeat
	
	&__copy
		width 45%
		box-sizing border-box
		padding 6rem
		
		h1
			text--header($parchment)
			
		p
			margin 3rem 0
			text--body($parchment)
			
		a
			button--large($parchment, $blue)