.wt_content-block--thirds
	display inline-block
	position relative
	vertical-align top
	margin 0 3.139% 6rem 0 
	width 31.013%
	
	&:nth-of-type(3n)
		margin-right 0
	
	&:before
		content ''
		z-index -1
		position absolute
		top 1rem
		left 1rem
		width 100%
		height 100%
		background $blue
	
	// should this be on a separate page?
	&__wrapper 
		margin-bottom 6rem
		padding 0 3rem 0
		box-sizing border-box
	
	&__image
		width 100%
		padding-bottom calc(100%/3*2)
		background-size cover
		background-repeat no-repeat
		background-position center
		
		&.blank
			position relative
			background $purple
			
			&:before
				content 'Thumbnail unavailable'
				position absolute
				top 50%
				left 50%
				transform translate(-50%,-50%)
				width 90%
				text-align center
				text--body($parchment)
				font-size 1.6rem
		
	&__copy
		padding 3rem 3rem 3rem 4rem
		text--body($parchment)
		
		h1
			margin-bottom 1.5rem
			text--strong($parchment)
		
		p
			margin 3rem 0
			
			strong
				text--strong($parchment)
		
		a
			button--small($parchment,$blue)
			
			i
				margin-left 0.5rem

@media all and (max-width:$smallScreen)
	.wt_content-block--thirds
		width 46.8%
		margin-right 4.7%
		
		&:nth-of-type(3n)
			margin-right 4.7%
		
		&:nth-of-type(even)
			margin-right 0

@media all and (max-width:$mobile)
	.wt_content-block--thirds
		width 100%
		margin-right 0
		margin-bottom 3rem
		
		&:before
			display none
		
		&:nth-of-type(3n)
			margin-right 0
			
		&__copy
			padding-top 4rem
			padding-bottom 4.5rem
			background $blue