.wt_newsletter
	padding 6rem 0
	background $purple
	text-align center
	
	h2
		text--header($black)
		margin-bottom 3rem

	form
		&>div
			display flex
			justify-content center
			
		.clear
			position relative
			
			i
				position absolute
				top 50%
				transform translateY(-50%)
				right 1.5rem
				color $parchment
				font-size 1.6rem
		
		input
			border-width 0 !important
			border-radius 0 !important
			-webkit-appearance none !important
			-webkit-border-radius 0 !important
			
			&[type="email"]
				width 300px
				button--large($parchment, $black)
				
				&:focus
					outline none
			
			&[type="submit"]
				button--large($blue, $parchment)
				padding-right 4rem // clunky override to position iframe arrow
				
				&:hover
					cursor pointer

.wt_footer
	padding 2rem 4rem
	background $black
	text--body($parchment)
	font-size 1.28rem !important
	display inline-block
	width 100%
	
	&__logo
		width 100%
		display inline-block	
		margin-bottom 8px
		border-bottom 1px dotted $blue
		
		a
			display inline-block
			float right 
		
		img
			max-width 250px

	&__section
		float left
		display flex
		width 100%
		justify-content center

		&#content
			display flex
			flex-direction row
		
		&#colophon
			text-align center
			margin 2rem 0 3rem 0

	&__nav
		flex-grow 3
		text-transform uppercase
		
		>ul
			display flex
			flex-direction row
			
			li					
				a
					text--body($parchment)
					text-decoration none
					text-transform initial
			
			&>li
				margin-right 3rem
				
				&>a
					font-weight bold

		.sub-menu
			margin-top .5rem

			a
				font-size 1em
				padding 0.2rem 0
				display inline-block
		
	&__meta
		flex-grow initial
		text-align right

		section
			display inline-block
			clear both
			float left
			
			div
				float left

				&:first-of-type
					margin-right 16px		

	&__address
		margin 0 0 1.5rem 0
		
	&__land-acknowledgement
		a
			color $parchment

	&__copyright
		font-weight 700
		margin-top 8px
		display inline-block
	
	&__candid
		display inline-block
		width 100px
		
		img
			width 100%
			height auto

@media all and (max-width:$smallScreen)
	.wt_footer
		&__section:first-of-type
			display block
			
		&__nav
			width 100%
			// text-align center
			
			&>ul
				justify-content center
		
		&__meta
			margin 6rem auto
			width 100%
			// text-align center

@media all and (max-width:$mobile)
	.wt_newsletter
		padding 4rem 3rem 6rem

		h2
			font-size 4rem
				
		form
			&>div
				display block
			
			input
				&[type="email"]
					width 100%
					text-align center

				&[type="submit"]
					width 100%
	
	.wt_footer
		&__logo
			display flex
			justify-content center
			margin 1.5rem 0
		&__section
			&#content
				flex-direction column
		
		&__nav
			&>ul
				display block
				font-size 1.2em

				&>li
					margin-top 2rem
					margin-right 0rem
					
					&:first-of-type
						margin-top 0
		
		&__meta
			margin 2rem auto 0
			display flex
			justify-content center
