body
	padding-top 138px
	background $parchment
	
	&.home
		padding-top 0 !important
	
.wt_header
	z-index 100
	display flex
	flex-direction row
	align-items center
	position fixed
	top 0
	left 0
	width 100%
	height 80px
	padding 20px
	box-sizing border-box
	background $parchment
	
	&.transparent
		background none !important

		&>nav>ul>li
			background $white !important
	
	&__logo
		flex-grow initial
				
		img
			height 50px
			width auto
	
	&__searchbar
		flex-grow initial
		margin-left 15px
		
		input
			&[type="search"]
				border 0
				padding 5px 10px
				
			&[type="submit"]
				display none
	
	&--secondary
		z-index 99
		position fixed
		top 80px
		left 0
		width 100%
		padding 20px
		background $white
		border-top 2px solid $blue
					
	&__nav
		flex-grow 3
		text-align right
		
		&>ul>li
			display inline-block
			position relative
			margin-left 15px
			padding 10px 15px
			background $blue
			
			&:hover
				.sub-menu
					display block
		
		.sub-menu
			display none
			position absolute
			top 100%
			left 0
			width 100%
			padding 5px 0
			background $white
			text-align center
			border-top 2px solid $blue
			
			li
				display block
				margin 10px 0
		
		&--secondary
			text-align center
			
			li
				display inline-block