body
	padding-top 138px
	background $parchment
	
	&.home
		padding-top 0 !important
	
.wt_header
	z-index 2
	display flex
	flex-direction row
	align-items center
	position fixed
	top 0
	left 0
	width 100%
	height 80px
	padding 20px
	box-sizing border-box
	background $parchment
	
	&.transparent-background
		background none !important
	
	&__logo
		flex-grow initial
		
		&--light
			display none
			
			&.transparent-background
				display block !important
		
		&--dark
			display block
			
			&.transparent-background
				display none !important
				
		img
			height 50px
			width auto
	
	&__searchbar
		position relative
		flex-grow initial
		margin-left 15px
		
		i
			position absolute
			top 50%
			left 7.5px
			transform translateY(-50%)
		
		input
			&[type="search"]
				border 0
				padding 5px 10px 5px 27.5px
				
			&[type="submit"]
				display none
	
	&--secondary
		z-index 2
		position fixed
		top 80px
		left 0
		width 100%
		padding 20px
		background $white
		border-top 2px solid $blue
					
	&__nav
		flex-grow 3
		text-align right
		
		&.transparent-background
			&>ul>li
				background $parchment
				
				&>a
					color $blue
		
		&>ul>li
			position relative
			margin-left 15px
			button--small($blue, $parchment)
			
			
			&>a // button--small is designed for a elements not li
				text-decoration none
				color $parchment

			&:hover
				cursor pointer
										
				.sub-menu
					display block
		
		.sub-menu
			display none
			position absolute
			top 100%
			left 0
			width 100%
			padding 5px 0
			background $white
			text-align center
			border-top 8px solid $blue
			
			li
				display block
				margin 10px 0
				
				a
					color $blue
					text-decoration none
		
		&--secondary
			text-align center
			
			li
				display inline-block