body
	max-width 1440px
	margin auto
	box-shadow 0 0 100px rgba(0,0,0,.05)
	padding-top 122.63px
	background $parchment
	
	&.home
		padding-top 0 !important
	
.wt_header
	z-index 10
	display flex
	flex-direction row
	align-items center
	position fixed
	top 0
	left 50%
	transform translateX(-50%)
	width 100%
	max-width 1440px
	height 60px
	padding 0 1.5rem
	box-sizing border-box
	background $parchment
	
	&.transparent-background
		background none !important
	
	&__logo
		flex-grow initial
		
		&--light
			display none
			
			&.transparent-background
				display block !important
		
		&--dark
			display block
			
			&.transparent-background
				display none !important
				
		img
			height 40px
			width auto
	
	&__searchbar
		position relative
		flex-grow initial
		margin-left 15px
		border 1px solid $grey
		
		i
			position absolute
			top 50%
			left 7.5px
			transform translateY(-50%)
		
		input
			&[type="search"]
				border 0
				padding 5px 10px 5px 27.5px
				
				&:focus
					outline none
				
			&[type="submit"]
				display none
	
	&--secondary
		z-index 2
		position fixed
		top 60px
		left 0
		width 100%
		padding 20px 3rem
		background $white
		border-top 6px solid $blue
					
	&__nav
		z-index inherit
		flex-grow 3
		text-align right
		font-size 0
		
		&--mobile
			display none
		
		&.transparent-background
			&>ul>li
				background $parchment
				border none !important
				
				&>a
					color $blue
		
		&>ul>li
			position relative
			margin-left 1.25rem
			button--small($blue, $parchment)								
			
			&.current_page_item,
			&.current_page_parent
				background $white !important
				
				&>a
					color $blue !important
				
				&:hover
					&:before
						display none !important
						
					.sub-menu
						display none !important
			
			&>a // button--small is designed for a elements not li
				text-decoration none
				color $parchment

			&:hover
				cursor pointer
				background $white !important
				
				&:before
					content ''
					z-index -1
					position fixed
					top 0
					left 0
					width 100%
					height 100vh
					background rgba(0,0,0,.4)
				
				&>a
					color $blue !important
										
				.sub-menu
					display block
		
		.sub-menu
			display none
			position absolute
			top 49px
			left 0
			width 100%
			padding 5px
			background $white
			text-align center
			border-top 6px solid $blue
			box-shadow 0 0 100px rgba(0,0,0,.05)
				
			li
				display block
				margin 10px 0
				
				a
					color $blue
					text-decoration none
		
		&__mobile-buttons
			display none
		
		&--secondary
			z-index 2
			text-align center
			
			li
				display inline-block
				margin 0 0 0 3rem
				
				&:first-of-type
					a
						color $black
						
						&:hover
							cursor default
					
					&:after
						content ''
						margin-left 3rem
						border-right 1px $grey solid
				
				a
					text--body($blue)
					font-size 1.28rem !important
					text-decoration none
					text-transform uppercase

@media all and (max-width:$smallScreen)
	.wt_header		
		&__searchbar
			display none
			
@media all and (max-width:$mobile)						
	.wt_header
		&__nav
			display	none
			
			&--mobile
				display block
				z-index 5
				position fixed
				top 0
				right -100%
				width 100%
				height 100vh
				overflow-y scroll
				box-sizing border-box
				padding 6rem
				background $whiteTransparent
				transition .2s right ease-in-out
				
				&.expand
					right 0
				
				&>ul
					&>li
						margin-bottom 3rem
						
						&>a
							text--strong($blue)
							text-decoration none
							
						ul
							margin-top 1.5rem
						
							li
								margin-bottom 1.5rem
								
								a
									text--body($blue)
									text-decoration none
		
		&__mobile-buttons
			display block
			flex-grow 3
			text-align right
			
			button
				background none
				border none
				text--strong($black)
				
				&:focus
					outline none
				
				&:last-of-type
					display none
					z-index 7
					position fixed
					top 3rem
					right 3rem
		
		&--secondary
			white-space nowrap
			overflow-x scroll
			
			li
				&:first-of-type
					margin-left 0rem
					
				&:last-of-type
					margin-right 3rem
		
		&.transparent-background
			.wt_header__mobile-buttons
					button:first-of-type
						text--strong($parchment)