.wt_videos__main
	float left
	width calc(100%/4*3)
	
	h1
		margin 0 auto 3rem
		width 100%
		max-width 600px
		text--header($black)
	
	p
		margin 0 auto 3rem
		width 100%
		max-width 600px
		text--body($black)
		
		strong
			text--strong($black)
			
		a
			text--body($blue)
