.main-content
	margin 0 auto 6rem
	width 90%
	max-width 1200px
	
	p
		margin 0 auto 3rem
		width 100%
		max-width 600px
		text--body($black)
		
		strong
			text--strong($black)
			
		a
			text--body($blue)
		
	ul
		margin 0 auto 3rem
		width 100%
		max-width 600px
		padding 0 0 0 1.5rem
		text--body($black)
		
		li
			list-style disc
			
			a
				text--body($blue)