.wt_meta
	width calc(100%/4)
	float left
	padding-left 6rem
	
	strong
		text--strong($black)
	
	p
		margin-bottom 1.5rem
		text-transform uppercase
		
		strong
			text--strong($black)
	
	ul
		li
			margin-bottom 1.5rem
	
	a
		text-decoration none
		
		strong
			text--strong($blue)
			
		span
			text--body($blue)
		
		&:hover
			text-decoration underline