.wt_fellow__meta
	width 100%
	max-width 600px
	margin 0 auto 3rem
		
	p
		margin-bottom 1.5rem
		
		strong
			text--strong($black)
	
	ul			
		li
			display inline-block
			margin-right 1.5rem
			text--body($black)
			
			&:last-of-type
				margin-right 0
			
			a
				text--body($blue)
				text-decoration none