.wt_meta--languages-single
	width calc(100%/4)
	float left
	padding-left 6rem

	section
		margin-bottom 1rem

	strong
		text--strong($black)

	p
		text--body($black)

	h2
		text--strong($black)

		&.wt_sectionHeader
			margin-bottom 1.5rem
			border-bottom 1px solid $lightPurple
			padding-bottom 12px

	ul
		li
			margin-bottom 1.5rem
			a
				&:hover
					text-decoration underline
	a
		text-decoration none
		text--body($blue)
		display block

		strong
			text--strong($blue)

		span
			text--body($blue)

		&.donate-cta
			background-color $red
			color $white
			padding 1rem 2rem
			border-radius 4px
			text-align center
			display inline-block
			margin-top 1rem

@media all and (max-width:$mobile)
	.wt_meta--languages-single
		float none
		margin-bottom 6rem
		width 100%
		padding 0 3rem