
.single_reports
	&__report
		margin 0rem auto 6rem
		
		h1
			margin 3rem auto
			text--header($black)
			
@media all and (max-width:$mobile)
	.single_reports
		&__report
			padding 0 3rem
			box-sizing border-box