body
	&.single-videos
		.wt_header
			&__nav
				&>ul>li
					&:first-of-type
						background $white !important
				
						&>a
							color $blue !important
						
						&:hover
							&:before
								display none !important
								
							.sub-menu
								display none !important