.wt_grantee
	&__main
		width 90%
		margin $margin3 auto
		max-width 600px
		
		&--title
			headerType($black)
		
		&--subheader
			margin $margin1 auto
			subheadType($black)
		
		&--content
			bodyType($black)
			
			p
				width 100%
				margin $margin0 auto $margin0 0
				
				strong
					display block
					padding-top $margin0
					bodyTypeBold($black)
	
	&__collaborator
		margin-bottom $margin0
		
		&--image
			display inline-block
			width 30%
			padding-bottom 30%
			backgroundImage()
			border 2px solid $black
			margin 5px $margin0 7.5px 0
			vertical-align top

			&.empty
				background $black
		
		&--text
			display inline-block
			width 66%
			vertical-align top
	
	&__navigation
		width 90%
		margin $margin3 auto
		max-width 1024px
		
		&--title
			width 100%
			max-width 600px
			margin 0 auto $margin1
			headerType($black)
		
		&--subheader
			width 100%
			max-width 600px
			margin 0 auto $margin1
			subheadType($black)

@media all and (max-width:$mobile)
	.wt_grantee
		&__main,
		&__navigation
			&--title
				headerTypeMobile()
			
			&--subheader
				subheadTypeMobile()
		
		&__main
			margin $margin2 auto
		
		&__collaborator
			&--image
				width 100%
				padding-bottom 100%
				margin-bottom $margin0
				
			&--text
				width 100%
				margin-bottom $margin1