.wt_single-languages
	&__content
		width calc(100%/4*3)
		float left
		padding 0 6rem 0 3rem
		box-sizing border-box
	
	&__contents
		p
			width 100%
			margin 0 auto 3rem
			padding-bottom 3rem
			border-bottom 1px solid $grey
			text--strong($black)
			text-transform uppercase
	
.clear
	clear both
