.wt_grantee
	&__main
		width 90%
		margin $margin3 auto
		max-width 600px
		
		&--title
			headerType($black)
		
		&--subheader
			margin $margin1 auto
			subheadType($black)
		
		&--content
			bodyType($black)
			
			p
				width 100%
				margin $margin0 auto $margin0 0
	
	&__navigation
		width 90%
		margin $margin3 auto
		max-width 1024px
		
		&--title
			width 100%
			max-width 600px
			margin 0 auto $margin1
			headerType($black)
		
		&--subheader
			width 100%
			max-width 600px
			margin 0 auto $margin1
			subheadType($black)
		
	&__thumbnail
		width 19%
		margin 0 .5% 2% .5%
		
		&--text
			h2
				margin 0
				bodyTypeBold($black)
			
			p
				bodyType($black)