.wt_team-member--wide
	display flex
	align-items top
	margin 0 auto 6rem
	width 900px
	
	&__img
		display inline-block
		width 95%
		max-width 300px
		height 200px
		background-position center center
		background-size cover
		background-repeat no-repeat
		
	&__meta
		display inline-block
		width 95%
		max-width 600px
		padding-left 3rem
		box-sizing border-box
		
		strong
			text--strong($black)
			
			span
				&:first-of-type
					text-transform uppercase
		
		p
			text--body($black)
		
		ul
			margin 1.5rem 0
			
			li
				display inline-block
				margin-right 1.5rem
				text--body($black)
				
				&:last-of-type
					margin-right 0
				
				a
					text--body($blue)
					text-decoration none
		