.wt_team-member--grid
	display inline-block
	margin 0 0 6rem 3.3333333%
	width 20.8333333%
	vertical-align top 
	
	&__img
		display block
		width 100%
		height 200px
		background-position center center
		background-size cover
		background-repeat no-repeat
		
	&__meta
		display block
		width 100%
		margin-top 1.5rem
		
		strong
			text--strong($black)
			
			span
				&:first-of-type
					text-transform uppercase
		
		p
			text--body($black)
		
		ul
			margin 1.5rem 0
			
			li
				display inline-block
				margin-right 1.5rem
				text--body($black)
				
				&:last-of-type
					margin-right 0
				
				a
					text--body($blue)
					text-decoration none
		