body
	&.page-template-template-cohort
		text-align center

		&>h1
			headerType($black)
			margin $margin3 0 $margin1
			text-align center

@media all and (max-width:$mobile)
	body
		&.page-template-template-cohort
			&>h1
				margin-top $margin2 !important
				headerTypeMobile($black)

			.wt_testimonial
				display block
				width 90%
				
				&__image
					margin-right auto !important
					margin-left auto !important