.page-template-template-donate
	.wt_header__bugs
		display none
	
	.wt_banner
		height 75vh
		
	.wt_wrapper
		width 95%
		max-width 1024px
		margin auto
		
	.wt_donate			
		&__header
			headerType($black)
			line-height 1.1
			text-align center
			margin $margin2 0 0
		
		&__subheader
			subheadType($black)
			text-align center
			margin $margin1 0 0
			
		&__progress
				width 90%
				margin 0 auto $margin1
			
		&__form
			width 100%
			max-width 378px
			margin 0 auto $margin0
		
		&__address
			text-align center
			
			strong
				bodyTypeBold($black)
			
			span
				bodyType($black)
		
		&__content
			subheadType($black)
			margin $margin2 auto 0
		
		&__casestudies
			text-align center
			
			&>h1
				margin-top $margin2
				headerType($black)
				
			&>h2
				margin $margin0 auto $margin1
				subheadType($black)
				width 100%
				max-width 615px
				
			ul
				max-width 90%
				margin auto
				
				li
					display inline-block
					vertical-align top
					width 175px
					margin $margin0
					
					a
						text-decoration none
					
					.wt_grantee__thumbnail
						&--image
							border-radius 100%
						
						&--text
							text-align center
	
	.wt_testimonial__image
		border 2px solid $black

@media all and (max-width:$mobile)
	.page-template-template-donate
		.wt_banner
			height initial
			
		.wt_donate			
			&__header
				headerTypeMobile($black)
				margin-bottom $margin0
				
			&__content
				subheadTypeMobile($black)
			
			&__casestudies
				&>h1
					headerTypeMobile($black)
				
				&>h2
					subheadTypeMobile($black)
				
				ul
					li
						width 145px	