body
	&.page-template-template-cohort
		text-align center
		
		.wt_wrapper
			width 95%
			margin $margin3 auto

			&>h1
				headerType($black)
				margin 0 0 $margin1
				text-align center

@media all and (max-width:$mobile)
	body
		&.page-template-template-cohort
			.wt_wrapper
				&>h1
					margin-top $margin2 !important
					headerTypeMobile()

				.wt_testimonial
					display block
					width 90%
					
					&__image
						margin-right auto !important
						margin-left auto !important