body
	&.page-template-template-revitalization
		.wt_testimonial
			margin $margin3 auto

		.wt_donate
			margin-top $margin4

@media all and (max-width:$mobile)
	body
		&.page-template-template-revitalization
			.wt_donate
				margin-top $margin2