body
	&.page-template-template-general
		.wt_project
			&__content
				width 90%
				max-width 750px
				margin $margin4 auto $margin2
				
				h1
					headerType($black)
					margin-bottom $margin1
					font-size 7rem
					text-align center
				
				h2
					subheadType($black)
					font-size 3.5rem
					margin $margin2 auto
					line-height 1.25 !important // line-height unresolved
					text-align center
					
				p
					max-width 600px
					bodyType($black)
					font-size 1.75rem
					margin 0 auto $margin1
					
					a
						bodyTypeLink($blue)
						font-size 1.75rem

					strong
						bodyTypeBold($black)
						font-size 1.75rem
				
				ul
					max-width 600px
					margin 0 auto $margin1
					bodyType($black)
					font-size 1.75rem
					list-style disc
					
					li
						margin-left $margin2
						
				img
					display block
					max-width 100%
					height auto
					margin auto
				
				&>div
					margin auto !important
					text-align center
					background $black
					
					img
						width 100%
						height auto
					
					.wp-caption-text
						margin-top $margin0
						padding-bottom $margin0
						bodyTypeBold($parchment)

		.wt_action
			text-align center
			
			&__primary
				display block
				text-align center
				button(95%,$blue)
				max-width 400px
				margin 0 auto $margin1
				interactiveType($parchment)
				transition .2s opacity ease-in-out
				
				&:hover
					opacity .9
			
			&__secondary
				interactiveType($black)
				
				span:first-of-type
					margin-right 5px
				
				&:hover
					interactiveType($blue)

@media all and (max-width:$mobile)
	body
		&.single-projects,
		&.page-template-template-general
			.wt_project
				&__content
					h1
						headerTypeMobile()
					
					h2
						subheadTypeMobile()