// responsive breakpoints
$mobile = 768px

// margins
$margin0 = 15px
$margin1 = 30px
$margin2 = 60px
$margin3 = 90px
$margin4 = 120px

// colors
$parchment = #fffcef
$parchmentTransparent = rgba(255,252,239,.97)
$black = #101010
$blackTransparent = rgba(16, 16, 16,.97)
$red = #e52600
$blue = #3814A5
$yellow = #ffff00

// functions
align(a,b,c,d)
	position absolute
	top a
	left b
	transform translate(c,d)

backgroundImage()
	background-size cover
	background-position center center

headerType(a)
	font-family 'Schnyder Wide M Web'
	font-weight 300
	font-style normal
	font-stretch normal
	font-size 6rem
	color a
	text-transform uppercase

headerTypeMobile()
	font-size 3rem

subheadType(a)
	font-family 'Schnyder Wide M Web'
	font-weight 300
	font-style normal
	font-stretch normal
	font-size 3rem
	color a
	line-height 1.15

subheadTypeMobile()
	font-size 2rem

bodyType(a)
	font-family 'Graphik Web'
	font-weight 400
	font-style normal
	font-stretch normal
	font-size 1.5rem
	color a
	line-height 1.5

bodyTypeLink(a)
	font-family 'Graphik Web'
	font-weight 400
	font-style normal
	font-stretch normal
	font-size 1.5rem
	color a
	line-height 1.5
	text-decoration underline

bodyTypeBold(a)
	font-family 'Graphik Web'
	font-weight 600
	font-style normal
	font-stretch normal
	font-size 1.5rem
	color a
	line-height 1.5

legalType(a)
	font-family 'Graphik Web'
	font-weight 400
	font-style normal
	font-stretch normal
	font-size .75rem
	color a
	
interactiveType(a)
	font-family 'Graphik Web'
	font-weight 600
	font-style normal
	font-stretch normal
	font-size 1.4rem
	color a
	text-decoration none
	text-transform uppercase
	letter-spacing 0.02rem

button(a,b)
	width a
	padding 15px
	outline none
	border none
	border-radius 3px
	background b
	color $parchment
	text-decoration none
	cursor pointer