$video_size = (9/16)*100 // in viewport widths

body.logged-in .wt_single-videos__content
	.wt_single-videos__video,
	.wt_single-videos__no-video
		padding-top 183px

.wt_single-videos
	&__content
		width 100%
		margin 0 auto 6rem auto

		&--body
			width 90%
			max-width 1000px
			margin auto

		h1
			margin 0 auto 3rem
			width 100%
			max-width 1000px
			text--header($black)

	&__video,
	&__no-video
		background $black
		padding 151px 0 4rem
		margin-bottom 6rem

	&__no-video
		display flex
		min-height ($video_size/16*9)vw
		align-content center

		p
			margin auto
			vertical-align middle
			text-align center
			max-width ($video_size)vw
			text--body($parchment)

	&__video
		width 100%
		text--strong($parchment)
		text-align center

		video
			background lighten($black, 10%)
			width 100%

		video,
		iframe
			min-height ($video_size/16*9)vw
			max-width ($video_size)vw

		p
			background $purple

		img
			width 100%
			height auto

@media all and (max-width:$mobile)
	.wt_single-videos
		&__content
			margin 2rem auto

		&__video
			margin-bottom 3rem