body
	.wt_archive
		&-languages,
		&-videos,
		&-fellows
			width 100%
			display block
			float left
			margin-top 6rem
			padding 0 6rem
			.custom-gallery
				.wt_sectionHeader
					text--header($black)
					font-size 6rem

					span
						text--strong($black)
						font-size 1.6rem

// @media all and (max-width:$mobile)
