.page-template-template-archive-success
	.wrapper
		max-width $content
		margin auto
		column-gap 1.6rem

		.block
			&:before
				top 0
				left 0

			.copy
				padding 3.2rem

	.wt_banner
		background-position-y -150px
		background-position-x right
		background-size 110%

	.wt_carousel__wrapper
		background $black
		padding 3rem
		*
			color $parchment

	.custom-gallery.full.faq
		margin 0 auto 3.2rem
		width 90%
		max-width $content
		clear both

		.wt_sectionHeader
			text--header($black)
			font-size $fontScale(6) // 3
			border-bottom 0
			padding-bottom 0

		.gallery-container
			.gallery-list
				.gallery-item
					&:first-of-type
						&::first-letter
							text--header($black)
							font-size 3.2rem
					a
						background-color initial
						display inline
						float initial
						flex-direction initial
						justify-content initial
						border-radius 0
						padding 0
						transition none
						color $blue()
						text--body($blue())
						anchor($blue(),2px)


.wt_archive
	&__faq
		display flex
		flex-direction column
		max-width $content
		margin 0 auto

		h4
			margin 0 auto 2.4rem
			width 100%
			text--header($black)

		strong
			text--strong($black)
			font-size 1.6rem // required for the height below
			min-height @font-size * @line-height * 2 // 2 lh
			text-align left
			margin 0
			clear both
			display inline-block

		ul
			width 100%
			max-width $content
			margin 0 auto 3rem
			column-count 3
			column-gap 16px

			li
				float left
				width 100%
				list-style-type none

				p
					margin 1.6rem auto
					width 100%
					max-width 600px
					text--body($black)

					strong
						text--strong($black)
						min-height 3.3em
						display inline-block

					a
						text--body($blue())
						anchor($blue(),2px)

div.success_cta
	display flex
	justify-content center
	flex-direction column
	align-items center
	gap 1.6rem
	margin 8rem 0

	h2
		text--header($black)
		max-width $content
		text-align center

	section
		button--primary($blue(22), $blue())

@media all and (max-width:$mobile)
	.page-template-template-archive-success
		.wt_banner
			background-position initial

	.wt_archive
		&__faq
			padding 0 3rem

			h1
				margin-bottom 4rem
				font-size 3rem // mobile
				text-align-last left

			section
				width 100%
				max-width $content
				column-count 1
				margin 0 auto

				article
					p
						strong
							min-height 2em