.page-template-template-archive-success
	.wt_banner
		background-position-y -150px
		background-position-x right
		background-size 110%

	.wt_carousel__wrapper
		background $black
		padding 3rem
		*
			color $parchment

.wt_archive
	&__faq
		display flex
		flex-direction column
		max-width $content
		margin 0 auto

		h1
			margin 0 auto 2.4rem
			width 100%
			text--subheader($black)

		h2
			text--strong($black)
			text-align left
			margin 0

		ul
			width 100%
			max-width $content
			margin 0 auto 3rem
			column-count 3
			column-gap 16px

			li
				float left
				width 100%
				list-style-type none

				p
					margin 0 auto 3rem
					width 100%
					max-width 600px
					text--body($black)

					strong
						text--strong($black)
						min-height 3.3em
						display inline-block

					a
						text--body($blue)
						anchor($blue, 2px)

div.success_cta
	h1
		margin 12rem auto 0
		width 100%
		max-width $content
		text--header($black)
		text-align center
		font-size 4.9rem

	h2
		text--subheader($black)
		margin 0 auto 12rem
		width 100%
		text-align center

		a
			anchor($blue, 4px)

@media all and (max-width:$mobile)
	.page-template-template-archive-success
		.wt_banner
			background-position initial

	.wt_archive
		&__faq
			padding 0 3rem

			h1
				margin-bottom 4rem
				font-size 3rem
				text-align-last left

			section
				width 100%
				max-width $content
				column-count 1
				margin 0 auto

				article
					p
						strong
							min-height 2em