.page-template-template-archive-success 
  .wt_banner
    background-position-y -150px
    background-position-x right
    background-size 110%
  
  .wt_carousel__wrapper
    background $black
    padding 3rem
    * 
      color $parchment

.wt_archive
  &__faq
    display flex
    flex-direction column
    
    h1
      margin 0 auto 6rem
      width 100%
      max-width 600px
      text--header($black)
      font-size 4.9rem
      text-align center
    
    section
      width 100%
      max-width 1000px
      margin 0 auto 3rem
      column-count 3
      column-gap 16px

      article
        float left
        width 100%

        p
          margin 0 auto 3rem
          width 100%
          max-width 600px
          text--body($black)
          
          strong
            text--strong($black)
            min-height 3.3em
            display inline-block
            
          a
            text--body($blue)

h1.success_cta
  margin 12rem auto
  width 100%
  max-width 1000px
  text--header($black)
  text-align center
  font-size 4.9rem

@media all and (max-width:$mobile)
  .page-template-template-archive-success
    .wt_banner
      background-position initial

  .wt_archive
    &__faq
      padding 0 3rem

      h1
        margin-bottom 4rem
        font-size 3rem
        text-align-last left

      section
        width 100%
        max-width 1000px
        column-count 1
        margin 0 auto

        article
          p
            strong
              min-height 2em