body
	&.home
		.wt_banner
			height 85vh

body
	&.page-template-template-revitalization-fellows,
	&.tax-fellow-category
		.wt_banner
			margin-bottom 0

.wt_banner
	position relative
	width 100%
	min-height calc(100vh/3*2)
	margin-bottom 6rem
	background-position center
	background-size cover
	background-repeat no-repeat
	display flex
	flex-direction column
	align-items center
	justify-content center
	box-sizing border-box

	&:before
		content ''
		position absolute
		top 0
		right 0
		width 100%
		height 100%
		background rgba(0,0,0,.3)
		background linear-gradient(90deg, rgba(1, 1, 1, 0) 0%, rgba(1, 1, 1, .3) 80%)

	&__copy
		position relative
		width 45rem
		box-sizing content-box
		align-self flex-end
		padding 9rem
		display flex
		flex-direction column
		align-items flex-start
		gap 32px

		&--mobile
			display none

		h1
			text--header($parchment)
			margin-top (7.2rem + 3.2)

		p
			text--body($parchment)

		strong
			text--strong($parchment)

		a
			button--secondary($parchment,$blue())

			i
				margin-left 0.5rem
				font-size 1.6rem

	p.caption
		position absolute
		bottom 0
		align-self flex-start
		margin 16px
		white-space pre
		text--caption()

@media all and (max-height:$shortScreen) and (orientation:landscape)
	.wt_banner
		height calc(100vh/5*3)

@media all and (max-width:$smallScreen)
	.wt_banner
		height calc(100vh/5*2.5)

@media all and (max-width:$mobile)
	.wt_banner
		height 80vh
		margin-bottom 1.6rem
		justify-content flex-end

		&:before
			position relative
			background inherit

		p.caption
			display none

		&__copy
			box-sizing border-box
			padding 3rem
			background $blue(100)
			color $parchment
			align-self initial
			width 100%
			gap 3.2rem

			.wt_text
					&--header
						text--header(inherit)
						font-size 4rem
						margin-top 0

				p
					margin 0
					text--body(inherit)

					strong
						text--strong(inherit)

				a
					button--secondary($parchment,$blue(50))

					i
						margin-left 0.5rem
						font-size 1.6rem

			&--mobile
				display none
				margin-bottom 3rem
				box-sizing border-box
				padding 3rem
				background $blue(50)
				color $parchment

				.wt_text
					&--header
						text--header(inherit)
						font-size 4rem // mobile

				p
					margin 3rem 0
					text--body(inherit)

					strong
						text--strong(inherit)

				a
					button--secondary($parchment,$blue(50))

					i
						margin-left 0.5rem
						font-size 1.6rem