.wt_banner--languages
	width 100%
	margin-bottom 6rem
	padding 120px 0 100px
	border-bottom 1px solid $parchment
	background $purple
	text-align center

	&__meta
		h1
			margin-bottom 1.5rem
			text--header($parchment)

		strong
			text--strong($parchment)

		p
			text--body($parchment)
			text-transform uppercase

		ul
			text-transform uppercase

			li
				display inline-block
				vertical-align top
				margin 3rem 1.5rem 0

				p
					&:last-of-type
						display inline-block
						margin-top 1rem
						padding 1rem 1.5rem
						background $parchment
						color $purple