
.wt_banner--searchbar
	width 100%
	display flex
	gap 32px
	min-height 50vh
	align-content flex-start
	flex-direction column
	justify-content center
	align-items center
	padding .5rem 0 4rem 0
	border-bottom 2px solid $border-color

	#typeahead_archive
		.typeahead-form
			width 50vw

			&.loaded
				display inline-block

			input
				width inherit
				border none
				padding 2.5rem
				font-size 2rem
				border 2px solid $blue()

			.typeahead-list
				position relative
				background $parchment
				max-height 60vh
				border-radius 0
				border-top 2px solid $blue()
				padding-top 4px
				margin-bottom -64px

				.typeahead-item
					border-radius 8px
					padding 12px
					font-size 1.2em

					&[data-resource=true]::before
						top 12px

	a
		text--body($blue())
		text-decoration none

body.search-results
	.wt_banner--searchbar
		min-height initial

@media all and (max-width:$mobile)
	.wt_banner--searchbar
		#typeahead_archive
			margin-left 0

			.typeahead-form
				width 90vw

				.typeahead-list
					max-height initial