.careers-page
	max-width $content
	margin 0 auto 3.2rem

	h1
		text--header($black)
		margin-bottom 3.6rem

	.career-section
		margin 1.6rem 0 3.2rem

		h4
			text--header($black)
			margin-bottom 0.8rem

	ul
		li
			width 100%

			&.empty
				text--body($grey-50)
				font-style italic

			a,.empty p
				padding .6rem 1.2rem
				border-left 4px solid transparent

			a
				display flex
				flex-direction row
				align-items baseline
				text-decoration none

				&:hover
					border-left-color $blue()

				strong
					text--strong($black)
					line-height 2.6rem
					display block

				p, time
					text--body($grey-50)

	p.alternative
		text--body($black)
		margin-top 3.2rem
		margin-bottom 6.4rem

		a
			anchor($blue(),2px)

.career-post
	max-width $content
	margin 0 auto
	padding 4.8rem 0

	h1
		margin 3.2rem 0

	a
		text--body($blue())
		text-decoration none

	h4
		text--header($black)

	p, time
		text--body($black)
		margin 0 1.6rem
		padding 0.8rem 0
		line-height 2.6rem

	section
		margin 1.6rem

		&.career-application
			a
				padding 1.6rem 3.2rem
				display inline-block
				margin-top 1.6rem
				background $blue()
				border-radius 8px
				color $parchment

	.career
		&-title
			text--header($black)
