.careers-page
	max-width 1000px
	margin 0 auto

	h1
		text--header($black)

	ul
		li
			width 100%

			a
				display inline-block
				text-decoration none
				border-left 4px solid transparent
				padding-left 1.6rem

				&:hover
					border-left-color $blue

				h2
					text--header($black)

				p
					text--body($black)

.career-post
	max-width 1000px
	margin 89px auto 0
	a
		text--body($blue)
		text-decoration none

	h2
		text--strong($black)
	p
		text--body($black)

	.career
		&-title
			text--header($black)

		&-location
			text--body($black)