.wt_carousel
	&__wrapper
		position relative
		margin 6rem 0

	&__left-scroll
		display none
		position absolute
		top 50%
		left 1.85rem
		transform translateY(-50%)
		border-radius 100%
		width 40px
		height 40px
		background $blue
		color $parchment
		border 1px solid $parchment
		font-size 1.6rem
		cursor pointer

	&__right-scroll
		position absolute
		top 50%
		right 1.85rem
		transform translateY(-50%)
		border-radius 100%
		width 40px
		height 40px
		background $blue
		color $parchment
		border 1px solid $parchment
		font-size 1.6rem
		cursor pointer

	&--thumbnails
		display flex
		flex-direction row
		justify-content left
		width 95%
		margin auto
		overflow-x hidden

		.wt_thumbnail
			display flex
			flex-direction row
			align-items center

			&:last-of-type
				.wt_thumbnail__copy
					width initial !important

			&__image
				width 300px
				height 170px
				background-size cover
				background-position center
				background-repeat no-repeat

				&.blank
					background $blue-50

			&__copy
				display inline-block
				width 280px
				padding 0 3rem
				text--strong($black) // ?

				p
					margin-bottom 1.5rem

				a
					button--small($blue,$parchment)

					i
						margin-left 0.5rem

@media all and (max-width:$mobile)
	.wt_carousel
		&--thumbnails
			display block
			width 100%
			padding 0 3rem

			.wt_thumbnail
				margin-bottom 3rem

				&:last-of-type
					margin-bottom 0

				&__image
					width 25%
					height initial
					padding-bottom 25%

				&__copy
					width 75%

		&__left-scroll,
		&__right-scroll
			display none