.fellow-gallery-nav
	display flex
	flex-direction row
	justify-content space-between
	align-items center
	border-bottom 2px solid $border-color
	margin 0 32px
	overflow hidden

	&:last-of-type
		border-bottom 2px solid $border-color

	strong
		text--strong($black)
		float left

		&.mobile
			display none

		a
			text--strong($blue())

	ul
		display flex
		flex-direction row
		margin-left 8px
		padding 4px 0 4px 8px
		overflow scroll

		li
			a
				display inline-block
				padding 16px
				white-space nowrap
				text--body($blue())
				border-radius 4px

				&:hover
					background $blue(10)
					cursor pointer

			&.active
				a
					font-weight bold

@media all and (max-width:$mobile)
	.fellow-gallery-nav
		flex-direction column
		margin 0
		padding 8px 0

		.mobile-nav
			display flex
			justify-content space-between
			width 100%
			flex-direction row

			strong
				// margin-left 16px
				padding 8px 16px

				&.mobile
					display initial

		> strong
			display none

		ul
			margin 0
			padding 0
			width 100%

			li
				a
					padding 8px 16px