.wrapper
	margin-bottom 6rem
	padding 0 3rem 0
	box-sizing border-box
	display flex
	flex-direction row
	flex-wrap wrap
	gap 1.6rem 3.2rem
	width 100%

	h4
		width 100%
		text--header($black)

&.light
	.block
		&:before
			background $parchment
			border-color $blue()

		.copy
			color $black

			button, a
				button--secondary($blue(), $parchment)

				&:hover
						background $blue(85)

				&.secondary
					margin-left 1.6rem
					button--secondary($parchment, $blue())

					&:hover
						background $blue(15)

&.dark
	.block
		&:before
			background $blue()
			border-color $blue()

		.copy
			color $parchment

			button, a
				button--secondary($parchment, $blue())

				&.secondary
					margin-left 1.6rem
					button--secondary($blue(), $parchment)

					&:hover
						background $blue(85)

.block
	display flex
	position relative
	width 100%
	max-width (2/3)*100%

	&:before
		content ''
		z-index -1
		position absolute
		background $blue()
		border-radius 4px
		top 12px
		left 12px
		width 100%
		height 100%
		border-width 2px
		border-style solid
		box-sizing border-box

	.thumbnail
		width 100%
		background-size cover
		background-repeat no-repeat
		background-position center
		position relative

		span
			position absolute
			bottom 1.6rem
			left 1.6rem
			font-size 1.6rem
			text--caption()

	.copy
		height 100%
		display flex
		flex-direction column
		align-items flex-start
		gap 32px

		p
				text--body(inherit)

		strong
				text--strong(inherit)

		button, a
			&.secondary
				margin-left 1.6rem

			i
				margin-left 0.5rem

&.wide
	justify-content center

	.block
		margin auto
		height 500px
		flex-direction row
		align-items center

		.thumbnail
			max-width 60%
			height 100%

		.copy
			width 40%
			box-sizing border-box
			padding 32px
			display flex
			flex-direction column
			justify-content flex-end
			align-items baseline
			position relative

			h1
				text--header(inherit)
				width 100%

			p
				text--body(inherit)

&.thirds
	justify-content left

	.block
		flex-direction column
		vertical-align top
		flex 0 0 32%
		float left

		.thumbnail
			padding-bottom calc(100%/3*2)

			&.blank
				position relative
				background $blue(50)

				&:before
					content 'Thumbnail unavailable'
					position absolute
					top 50%
					left 50%
					transform translate(-50%,-50%)
					width 90%
					text-align center
					text--body(inherit)

		.copy
			padding 3.2rem 3.2rem 2.4rem 4.8rem

			p
				flex-grow 1

@media all and (max-width:$mobile)
	.wrapper
		padding 0
		gap 1.6rem

		&.thirds
			.block
				flex initial

				.copy
					padding 2.4rem

		&.wide
			.block
				.thumbnail
					padding-bottom calc(100% / 3* 2)

		.block
			max-width initial
			flex-direction column
			height auto
			margin 4px

			&:before
				left 0
				top 0

			.thumbnail
				max-width initial
				border-radius 4px 4px 0 0
				border 2px solid $blue()
				border-bottom 0

				span
					display none

			.copy
				width 100%