.wrapper
	margin-bottom 6rem
	padding 0 3rem 0
	box-sizing border-box
	display flex
	flex-wrap nowrap
	column-gap 32px
	width 100%

	.block.thirds
		margin 0 !important

.block
	display flex
	position relative

	&:before
		content ''
		z-index -1
		position absolute
		background $blue()
		border-radius 4px

	.thumbnail
		width 100%
		background-size cover
		background-repeat no-repeat
		background-position center

	.copy
		p
			margin 3rem 0

		button, a
			color white
			button--secondary($parchment,$blue())

			i
				margin-left 0.5rem


	&.wide
		margin 6rem auto
		width 66.6%
		height 500px
		flex-direction row
		align-items center

		&:before
			top 2.5%
			left .75%
			width 99.25%
			height 100%

		.thumbnail
			max-width 60%
			height 100%

		.copy
			width 40%
			box-sizing border-box
			padding 32px
			display flex
			flex-direction column
			justify-content flex-end
			height 100%
			align-items baseline
			position relative

			h1
				text--header($parchment)
				width 100%

			p
				text--body($parchment)

	&.thirds
		flex-direction column
		vertical-align top
		width calc(100%/3)
		margin 0 0 6rem calc(10%/3)
		float left

		&:first-of-type
			margin-left calc(10%/3)

		&:nth-of-type(3n)
			margin-right 0

		&:before
			top 1rem
			left 1rem
			width 100%
			height 100%

		.thumbnail
			padding-bottom calc(100%/3*2)

			&.blank
				position relative
				background $blue(50)

				&:before
					content 'Thumbnail unavailable'
					position absolute
					top 50%
					left 50%
					transform translate(-50%,-50%)
					width 90%
					text-align center
					text--body($parchment)

		.copy
			padding 3rem 3rem 3rem 4rem
			text--body($parchment)

			strong
				margin-bottom 1.5rem
				text--strong($parchment)

			p
				strong
					text--strong($parchment)