.wt_footer
	padding 2rem 4rem
	background $black
	display inline-block
	width 100%
	color $parchment

	p, a
		text--body($parchment)
		font-size 1.28rem

	a
		color $parchment

	&__logo
		width 100%
		display inline-block
		margin-bottom 8px
		border-bottom 1px dotted $blue()

		a
			display inline-block
			float right

		img
			max-width 250px

	&__section
		float left
		display flex
		width 100%
		justify-content center

		&#content
			display flex
			flex-direction row

		&#colophon
			text-align center
			margin 2rem 0 3rem 0

	&__nav
		flex-grow 3
		text-transform uppercase

		ul:not(.sub-menu)
			display flex
			flex-direction row

			li.menu-item-has-children
				margin-right 3rem
				> a
					font-size 1.6rem
					font-weight bold

			li
				a
					text-decoration none
					text-transform initial

		.sub-menu
			margin-top .5rem

			a
				padding 0.2rem 0
				display inline-block

	&__meta
		flex-grow initial
		text-align right

		section
			display inline-block
			clear both
			float left

			div
				float left

				&:first-of-type
					margin-right 16px

	&__address
		margin 0 0 1.5rem 0

	&__land-acknowledgement
		a
			color $parchment

	&__copyright
		font-weight 700
		margin-top 8px
		display inline-block

	&__candid
		display inline-block
		width 100px

		img
			width 100%
			height auto

@media all and (max-width:$smallScreen)
	.wt_footer
		&__section:first-of-type
			display block

		&__nav
			width 100%

			&>ul
				justify-content center

		&__meta
			margin 6rem auto
			width 100%

@media all and (max-width:$mobile)
	.wt_footer
		&__logo
			display flex
			justify-content center
			margin 1.5rem 0
		&__section
			&#content
				flex-direction column

		&__nav
			&>ul
				display block
				font-size 1.2em // mobile

				&>li
					margin-top 2rem
					margin-right 0rem

					&:first-of-type
						margin-top 0

		&__meta
			margin 2rem auto 0
			display flex
			justify-content center
