.wikitongues-form
	display none
	flex-direction column
	justify-content space-between
	row-gap 16px
	min-height 0
	align-items baseline
	align-items stretch
	background $parchment
	color $blue()
	position absolute
	bottom 0
	right 0
	z-index 10
	padding 24px
	border 2px solid $blue()

	fieldset
		display flex
		flex-direction column

	legend
		text--strong($blue())
		width 100%

	label
		text--body($blue())
		display flex
		padding 8px 0

		&.checkbox
			width 100%
			input
				flex-grow 0

	input, select
		border-width 0 0 2px 0
		border-color $blue()
		background $parchment
		padding 8px
		color $blue()
		border-radius 4px 4px 0 0
		flex-grow 3
		text-align right

		&:hover
			background $blue(15)

	input
		&:focus
			background $blue(10)

	aside
		width 100%
		display flex
		justify-content space-between

	button[type="submit"]
		button--secondary($blue(), $parchment)
		&:hover
			background-color $blue()