#primary
	margin-top 100px

$aspect-ratio = 16/9

.custom-gallery
	text--body($blue())
	clear both
	display flex
	flex-direction column
	gap 16px

	&.full
		margin 32px

		strong
			text--strong($black)
			text-align left
			clear both

	strong,
	p
		text-align left
		clear both

		a
			text-decoration none
			color $blue()
			font-style italic

	strong
		text--strong($black)

	p
		text--body($black)

	.wt_sectionHeader
		border-bottom 2px solid $border-color
		padding-bottom 1.5rem
		display inline-block
		width 100%

	.gallery-container
		margin-bottom 24px

		&.paginated
			margin-bottom 0

		.gallery-list
			width 100%
			gap 32px
			display grid

			.gallery-item
				width 100%

				.metadata
					display flex
					justify-content space-between
					align-items baseline

				a
					background-color $black
					display flex
					flex-direction column
					justify-content space-between
					color $parchment
					width 100%
					height 100%
					position relative
					padding 16px
					float left
					border-radius 4px
					transition box-shadow 0.1s ease-in-out

					&:hover
						.no-thumbnail,
						.thumbnail
							margin -4px 0 -4px -4px
							width calc(100% + 8px)
							padding ((1/($aspect-ratio))*52)% 0// 16:9 aspect ratio

					img,
					.no-thumbnail,
					.thumbnail,
					span.thumbnail-spacer
						width 100%
						float left
						display inline-block
						height 0
						padding ((1/($aspect-ratio))*50)% 0// 16:9 aspect ratio
						position relative
						transition all 0.1s ease-in-out

					img,
					.no-thumbnail,
					.thumbnail
						background $blue()
						background-position 50% 50%
						background-size cover
						border-radius 8px 0 8px 0
						display flex
						align-items center


					.no-thumbnail
						p
							width 100%
							margin 0 16px
							text-align center

					h5, h6
						display -webkit-box
						-webkit-line-clamp 2
						-webkit-box-orient vertical
						overflow hidden
						float left
						max-width 89%
						transition all 0.1s ease-in-out

					aside
						float right
						font-family monospace

					.thumbnail
						p
							position absolute
							bottom 0
							left 0
							margin 1.6rem

					.no-thumbnail,
					.thumbnail
						p
							color $parchment

	&.languages
		.gallery-list
			grid-template-columns repeat(4, 1fr)

			h6
				margin-bottom 16px

	&.videos
		.gallery-list
			grid-template-columns repeat(3, 1fr)
			.gallery-item
				a
					h6
						margin-top 16px
						height 7.2rem

					&:hover
						box-shadow 0px 0px 0px 4px $black

						h6
							margin 20px 0 -4px -4px

						.no-thumbnail,
						.thumbnail
							margin -4px 0 -4px -4px
							width calc(100% + 8px)
							padding ((1/($aspect-ratio))*52)% 0// 16:9 aspect ratio


	&.videos,
	&.languages
		.gallery-list
			h5
				height 52px

	&.fellows
		.gallery-container
			.gallery-list
				grid-template-columns repeat(5, 1fr)
				row-gap 32px

				.gallery-item
					padding 16px 0 0 16px

					// light theme
					a
						color $black
						background $parchment
						border 2px solid $blue()
						transition all 0.2s ease-in-out
						display flex
						flex-direction column
						justify-content space-between

						&:hover
							box-shadow 0 0 0 1px $blue()
							background $blue(10)

							.thumbnail,
							.no-thumbnail
								top -16px
								left -16px
								width calc(100% + 8px)
								padding ((1/($aspect-ratio))*(52))% 0// 16:9 aspect ratio

						.no-thumbnail
							p
								color $parchment

						table
							tr
								&:last-of-type
									td
										&:last-of-type
											color $blue()

					.thumbnail,
					.no-thumbnail
						position absolute
						top -16px
						left -16px
						transition all 0.1s ease-in-out

					.details
						display flex
						flex-direction column
						justify-content space-between
						gap 32px
						height 100%

					.fellow-metadata
						width 100%
						float left
						display flex
						flex-direction column

						.language
							display flex
							align-items flex-end
							width 100%
							margin-bottom 16px

						.description
							-webkit-line-clamp initial

						span
							width 100%
							display flex
							justify-content space-between
							margin-top 4px
							float left

							p
								&:first-of-type
									margin-right 8px

						.name,
						p
							float left
							max-width initial

		&.display
			.gallery-container
				.gallery-list
					.gallery-item
						a
							display flex
							flex-direction row
							padding 0

							img,
							.no-thumbnail,
							.thumbnail,
							span.thumbnail-spacer
								width (2/3)*100%
								padding (((2/3)/$aspect-ratio)/2)*100% 0// 16:9 aspect ratio

							.details
								width (1/3)*100%
								padding 32px 32px 32px 16px
								display flex
								flex-direction column
								justify-content space-between

								.name
									text--header($black)
									max-width 100%
									height initial

								.fellow-metadata
									gap 16px

	&.resources
		.gallery-container
			.gallery-list
				.gallery-item

					a
						border-left 4px solid $blue()
						height 100%
						background $parchment
						color $black
						text-decoration none
						display flex
						flex-direction column
						justify-content space-between
						border-radius 0
						transition all 0.1s ease-in-out

						&:hover
							box-shadow none
							margin-left -4px
							padding 16px 12px 16px 20px

						p
							padding-top 8px
							font-size 1.2rem

							&.domain
								color $blue()

	&.lexicons
		&:nth-of-type(2)
			margin-top 1.6rem

		.wt_sectionHeader
			border-bottom none
			padding-bottom 0

		.gallery-container
			border-top none

			.gallery-list
				gap 32px 16px

				.gallery-item
					a
						background $parchment
						color $black
						text-decoration none
						display flex
						flex-direction column
						border-radius 8px
						border 2px solid transparent
						margin 0 -6px
						width calc(100% + 12px)
						transition box-shadow 0.2s ease-in-out

						&:hover
							box-shadow 0px 0px 0px 4px $blue(22)

						section
							display flex
							justify-content space-between
							align-items baseline
							padding-bottom 8px

							p.meta,
							.language .identifier
								font-size 1.2rem

							&:first-of-type
								border-bottom 2px solid $blue()

								.language
									p
										padding-top 0

							&:last-of-type
								padding-bottom 0

							p,
							.language
								float left

							.target-languages
								display flex
								flex-direction column

							.language
								display flex
								align-items baseline
								justify-content flex-end
								gap 8px

								&:not(&:last-of-type) p::after
									content ","

								.identifier, p
									float left

								.identifier
									margin-right 0

								p
									padding-top 8px

	.gallery-pagination
		display flex
		justify-content center
		gap 4px
		margin 8px 0

		li
			float left

			&.page-helper
				width 100%
				&:first-of-type
					text-align right

			a
				padding 11px 16px
				display inline-block
				text-decoration none

				&.page-numbers
					text--body($blue())
					text-decoration none
					border-radius 8px
					transition background-color .1s ease-in-out

					&:hover
						background $blue(10)

					&.active
						text--strong($blue()) // a
						pointer-events none

.home
	.custom-gallery
		strong
			text--header($black)
			font-size ($header/12)*7
			text-align center
			display block

.custom-gallery-fellows-navigation-wrapper
	width 100%
	display inline-block
	padding 0 32px
	position relative

	.custom-gallery-fellows-navigation
		width 100%
		display inline-block
		border-bottom 2px solid $border-color
		padding-bottom 16px

		strong,
		ul,
		p
			max-width (100/3)%
			display inline-block
			float left

		strong
			text--strong($black)
			width 50%
			padding 16px 0

		ul
			display flex
			width 100%
			justify-content center
			pointer-events none

			li
				float left
				pointer-events all

				button
					text--body($blue())
					background none
					border none
					padding 16px
					cursor pointer

					&.active
						text--strong($blue()) // button
						pointer-events none

		p
			text-align right
			width 50%

			a
				text--strong($blue()) // a
				padding 16px 0 16px 16px
				float right

		a
			text-decoration none
			color $blue()

	.custom-gallery.fellows.full
		margin 16px 0 32px 0

.custom-cta-container
	width 100%
	display inline-block
	margin-top 32px

	&.full
		padding 0 32px

	.custom-gallery-video-cta
		button--primary($blue(22), $blue())

@media all and (max-width:1140px)
	.custom-gallery
		&.fellows
			.gallery-container
				.gallery-list
					.gallery-item
						a
							table
								tbody
									tr
										td
											white-space nowrap
											padding 2px
											clear both
											float left

										&:first-of-type
											td&:last-of-type
												font-size 0.8rem // mobile

@media all and (max-width:$mobile)
	.custom-gallery
		&.full
			width 90%
			margin 0 auto

		.gallery-container
			.gallery-list
				grid-template-columns repeat(1, 1fr) !important

		&.fellows.display
			.gallery-container
				.gallery-list
					.gallery-item
						a
							flex-direction column

							img,
							.no-thumbnail,
							.thumbnail,
							span.thumbnail-spacer
								width 100%
								padding (((100%)/$aspect-ratio)/2) 0// 16:9 aspect ratio

							.details
								width 100%
								padding 0 32px 16px 16px
								gap 16px

								.fellow-metadata
									gap 16px
		> p
			margin-bottom 2rem

	.custom-cta-container
		.custom-gallery-video-cta
			background none

			a
				text-align center

				&:first-of-type
					background $blue(22)
					border-radius 8px
					width 100%

				&:last-of-type
					width 100%

	.custom-gallery-fellows-navigation
		strong,
		ul,
		p
			max-width 100%
			width 100%
			padding 0

		p
			display none