// responsive breakpoints
$shortScreen = 699px // for short and wide browsers
$smallScreen = 1024px
$tablet = 899px
$mobile = 768px // consider different number

$content = 1140px

// colors
$parchment = #fffcef
$black = #101010
$grey-50 = blend(rgba($black,.5),$parchment)
$grey-33 = blend(rgba($black,.33),$parchment)
$grey-25 = blend(rgba($black,.25),$parchment)
$red = #e52600
$blue = #3814a5
$blue-50 = blend(rgba($blue,.50),$parchment)
$blue-30 = blend(rgba($blue,.30),$parchment)
$blue-28 = blend(rgba($blue,.28),$parchment)
$blue-25 = blend(rgba($blue,.25),$parchment)
$blue-22 = blend(rgba($blue,.22),$parchment)
$blue-15 = blend(rgba($blue,.15),$parchment)
$blue-10 = blend(rgba($blue,.10),$parchment)
$yellow = #ffff00

$border-color = $blue-22

// typography
html
	font-size 10px

body
	max-width 1800px
	margin auto
	background $parchment

$header = 6rem

h1
	font-size $header
h2
	font-size ($header/12)*9 // 4.5
h3
	font-size ($header/12)*7 // 3.5
h4
	font-size ($header/12)*6 // 3
h5
	font-size ($header/12)*5 // 2.5
h6
	font-size ($header/12)*4 // 2

p, a, time, button, strong
	font-size 1.6rem

$socialIcon = 2rem

@media all and (max-width:$mobile)
	html
		font-size 51.398%

text--base(color)
	font-style normal
	font-stretch normal
	color color

typeface(style)
	if style
		font-family 'Schnyder Wide M Web'
	else
		font-family 'Graphik Web'

text--header(color)
	text--base(color)
	typeface('display')
	font-weight 300

text--body(color)
	text--base(color)
	typeface('')
	font-weight 400
	line-height 1.2

text--strong(color)
	text--base(color)
	typeface('')
	font-weight 700
	line-height 1.3

anchor(color, padding)
	text-decoration none
	color color
	padding padding (padding * 2)
	margin (padding * -1) (padding * -2)
	border-radius (padding * 2)

	&:hover
		background $blue-22
		mix-blend-mode darken

button--base(a,b)
	display inline-block
	background a
	font-family 'Graphik Web'
	font-weight 400
	font-style normal
	font-stretch normal
	text-decoration none
	color b
	text-wrap nowrap
	border-radius 4px

button--large(a,b)
	button--base(a,b)
	padding 1.5rem 2rem
	font-size 1.6rem
	line-height 1.3

button--small(a,b)
	button--base(a,b)
	padding 1.25rem 1.5rem
	border 1px solid $blue
	font-size 1.28rem

// misc
.clear
	clear both

.no-scroll
	overflow hidden