// Responsive Breakpoints
// ------------------
	$content = 1140px
	$smallScreen = 1024px
	$tablet = 899px
	$shortScreen = 699px // for short and wide browsers
	$mobile = 768px // consider different number

// Colors
// ------------------
	$parchment = #fffcef
	$black = #101010
	$grey-50 = blend(rgba($black,.5),$parchment)
	$grey-33 = blend(rgba($black,.33),$parchment)
	$grey-25 = blend(rgba($black,.25),$parchment)
	$red = #e52600
	$yellow = #ffff00

	$blue(tint = 100)
		// Returns a blended value for blue
		// Use $blue(22) for a 22% tint of blue
		// Values in use: 50, 30, 28, 25, 22, 15, 10
		base = #3814a5
		if tint < 100
			tint = tint / 100
			return blend(rgba(base, tint), $parchment)
		return base

	$border-color = $blue(22)

// Typography Base
// ------------------
	html
		font-size 10px // make 16

	body
		max-width 1800px
		margin auto
		background $parchment

	// Header size scales down from $header value
	$header = 6rem
	$scaleDenominator = 12
	$fontScale(numerator)
		($header)*numerator/$scaleDenominator
	h1
		font-size $header
	h2
		font-size $fontScale(9) // 4.5
	h3
		font-size $fontScale(7) // 3.5
	h4
		font-size $fontScale(6) // 3
	h5
		font-size $fontScale(5) // 2.5
	h6
		font-size $fontScale(4) // 2

	p, a, time, button, strong, label, li
		font-size 1.6rem
		line-height 1.2

	a
		text-decoration none

	$socialIcon = 2rem

	@media all and (max-width:$mobile)
		html
			font-size 51.398%

// Typography Mixins
// ------------------
	text--base(color)
		font-style normal
		font-stretch normal
		color color

	typeface(style)
		if style
			font-family 'Schnyder Wide M Web'
		else
			font-family 'Graphik Web'

	text--header(color)
		text--base(color)
		typeface('display')
		font-weight 300

	text--body(color)
		text--base(color)
		typeface('')
		font-weight 400
		line-height 1.2

	text--strong(color)
		// HTML Strong
		text--base(color)
		typeface('')
		font-weight 700
		line-height 1.3

	anchor(color, padding)
		text-decoration none
		color color
		padding padding (padding * 2)
		margin (padding * -1) (padding * -2)
		border-radius (padding * 2)

		&:hover
			background $blue(10)
			mix-blend-mode darken

// Button Mixins
// ------------------
	button--base(background, color)
		background background
		text--body(color)
		text-decoration none
		text-wrap nowrap
		border none

	button--primary(background, color)
		// HTML Section wrapping 1 or 2 Anchors
		button--base(background, color)
		border-radius 8px
		display flex
		overflow hidden
		justify-content space-between
		align-items stretch

		a
			padding 24px
			cursor pointer
			transition background-color .1s ease-in-out
			align-content center

			&:hover
				background $blue(15)

			&:last-of-type
				text--body($blue())

			&:first-of-type
				text--strong($blue())
				font-size 2rem


	button--secondary(background, color)
		// HTML Button
		button--base(background, color)
		padding 1.5rem 2rem
		line-height 1.3
		border-radius 4px
		cursor pointer
		display inline-block

		if background == $parchment
			transition background-color .1s ease-in-out

			&:hover
				background $blue(10)

// Miscelaneous
// ------------------
	.clear
		clear both

	.no-scroll
		overflow hidden