// responsive breakpoints
$shortScreen = 699px // for short and wide browsers
$smallScreen = 1024px
$tablet = 899px
$mobile = 768px // consider different number

$content = 1140px

// colors
$white = #ffffff
$whiteTransparent = rgba(255,255,255,.97)
$parchment = #fffcef
$parchmentTransparent = rgba(255,252,239,.97)
$black = #101010
$blackTransparent = rgba(16, 16, 16,.97)
$grey = #dcdcdc
$darkGrey = #6f6f6f
$red = #e52600
$blue = #3814A5
$purple = #9581c2
$lightPurple = #D4CCE0
$yellow = #ffff00

// typography
html
	font-size 62.5%

@media all and (max-width:$mobile)
	html
		font-size 51.398%

text--base(a)
	font-style normal
	font-stretch normal
	color a

text--header(a)
	text--base(a)
	font-family 'Schnyder Wide M Web'
	font-weight 300
	font-size 6.08rem

text--subheader(a)
	text--base(a)
	font-family 'Schnyder Wide M Web'
	font-weight 300
	font-size 3.2rem

text--body(a)
	text--base(a)
	font-family 'Graphik Web'
	font-weight 400
	font-size 1.6rem
	line-height 1.3

text--strong(a)
	text--base(a)
	font-family 'Graphik Web'
	font-weight 700
	font-size 1.6rem
	line-height 1.3

anchor(a,b)
	text-decoration none
	color a
	padding b (b * 2)
	margin (b * -1) (b * -2)
	border-radius (b * 2)

	&:hover
		background $lightPurple
		mix-blend-mode darken

button--base(a,b)
	display inline-block
	background a
	font-family 'Graphik Web'
	font-weight 400
	font-style normal
	font-stretch normal
	text-decoration none
	color b
	text-wrap nowrap
	border-radius 4px

button--large(a,b)
	button--base(a,b)
	padding 1.5rem 2rem
	font-size 1.6rem
	line-height 1.3

button--small(a,b)
	button--base(a,b)
	padding 1.25rem 1.5rem
	border 1px solid $blue
	font-size 1.28rem

// misc
.clear
	clear both

.no-scroll
	overflow hidden