body
	max-width 1800px
	margin auto
	box-shadow 0 0 100px rgba(0,0,0,.05)
	background $parchment

	&[data-alert="true"]
		padding-top 194.63px

		.wt_header
			top 72px !important

	&.logged-in
		margin-top 32px

		.wt_header
			top 32px

		&.page-parent,
		&.page-child,
		&.single-languages,
		&.single-videos,
		&.single-fellows
			margin-top 32px + 110px

		&[data-alert="true"]
			padding-top 226.63px !important

			.wt_banner-alert__container
				top 32px !important

			.wt_header
				top 104px !important

.wt_header
	z-index 10
	display flex
	flex-direction column
	align-items center
	position fixed
	top 0
	width 100%
	max-width 1800px
	box-sizing border-box
	background $parchment
	transition-property background
	transition-duration 0.3s
	transition-timing-function cubic-bezier(0.16, 1, 0.3, 1);

	&.transparent-background
		background none
		transition-property background
		transition-duration 0.3s
		transition-timing-function cubic-bezier(0.16, 1, 0.3, 1);

		.wt_header__searchbar
			input[type="search"]
				background $parchment

	&__primary
		display flex
		width 100%
		padding 8px

	&__logo
		flex-grow initial

		&--light
			display none

			&.transparent-background
				display block !important

		&--dark
			display block

			&.transparent-background
				display none !important

		img
			height 40px
			width auto


	#typeahead_nav
		.typeahead-form
			input
				border none
				width 330px
				padding 11px

				&:active,
				&:focus
					width 400px
					background $parchment
					transition-property background, width
					transition-duration 0.6s
					transition-timing-function cubic-bezier(0.16, 1, 0.3, 1);

			.typeahead-list
				width 400px
				border-radius 8px
				outline 2px solid #3814a5
				z-index 3

	@media all and (max-width:$smallScreen)
		#typeahead_nav.react-typeahead-container
			display none !important

	&__secondary
		border-top 1px solid $lightPurple
		width 100%

	&__nav
		z-index inherit
		margin-left auto
		text-align right
		font-size 0

		#dark
			position fixed
			top 0
			left 0
			width 100%
			height 100vh
			background rgba(0, 0, 0, 0.25)
			opacity 0
			visibility hidden
			transition opacity 0.2s ease, visibility 0.2s ease
			z-index 1

			&.visible
				opacity 1
				visibility visible

		&--mobile
			display none

		&.transparent-background
			&>ul>li
				background $parchment
				border none !important

				&>a
					color $blue

		&>ul>li
			position relative
			margin-left 1.3rem
			button--small($parchment, $blue)
			border none
			border-radius 8px
			text-transform initial
			padding 0
			z-index 0

			&.current_page_item,
			&.current_page_parent
				pointer-events none

				> a
					font-weight bold
					cursor default

			&>a // button--small is designed for a elements not li
				text-decoration none
				color inherit
				padding 1.25rem
				display inline-block

			&:hover
				cursor pointer
				z-index 2

			&.menu-item-has-children
				&:hover
					&:not(.current_page_parent)
						> .sub-menu
							display block
							&.show
								display block

		.sub-menu
			display none
			position absolute
			top 38px
			left 0
			width 100%
			padding 8px 0
			text-align left
			box-shadow 0 0 100px rgba(0,0,0,.05)
			transition display 0.2s ease

			li
				display block
				margin 0
				background $parchment
				overflow hidden

				&:first-of-type
					padding-top 8px
					border-radius 8px 8px 0 0

				&:last-of-type
					padding-bottom 8px
					border-radius 0 0 8px 8px

				a
					color $blue
					padding 1.25rem
					text-decoration none
					display inline-block
					width 100%

					&:hover
						background #eee

		&--secondary
			z-index 2
			text-align center

			ul
				padding 8px 0

				li
					display inline-block
					margin 0 0 0 3rem

					&.current_page_item
						a
							font-weight bold

					a
						text--body($blue)
						font-size 1.3rem !important
						text-decoration none
						padding 10px
						display inline-block

						&:hover
							cursor pointer

	&__mobile-buttons
			display none

@media all and (max-width:$smallScreen)
	.wt_header
		&__searchbar
			display none

@media all and (max-width:$tablet)
	.wt_header
		&__nav
			&--secondary
				white-space nowrap
				overflow-x scroll
				-ms-overflow-style none
				scrollbar-width none

				&::-webkit-scrollbar
					display none

				li
					&:first-of-type
						margin-left 0rem

					&:last-of-type
						margin-right 3rem

@media all and (max-width:$mobile)
	body
		padding-top 102px

		&.logged-in
			.wt_header
				top 46px

	.wt_header
		&__nav,
		&__secondary
			display	none

			&--mobile
				display block
				z-index 5
				position fixed
				top 0
				right -100%
				width 100%
				height 100vh
				overflow-y scroll
				box-sizing border-box
				padding 6rem
				background $whiteTransparent
				transition .2s right ease-in-out
				-ms-overflow-style none
				scrollbar-width none

				&::-webkit-scrollbar
					display none

				&.expand
					right 0

				&>ul
					&>li
						margin-bottom 3rem

						&>a
							text--strong($blue)
							text-decoration none

						ul
							margin-top 1.5rem

							li
								margin-bottom 1.5rem

								a
									text--body($blue)
									text-decoration none

		&__mobile-buttons
			display block
			flex-grow 3
			text-align right

			button
				background none
				border none
				float right
				padding	11px 14px
				text--strong($black)

				&:hover
					cursor pointer

				&:focus
					outline none

				&:last-of-type
					display none
					z-index 7
					position fixed
					top 5rem
					right 1rem

		&.transparent-background
			.wt_header__mobile-buttons
					button:first-of-type
						text--strong($parchment)