#language-list-container
	max-width $content
	margin 0 auto
	display flex
	flex-direction column

	h4
		text--header($black)
		margin-bottom 16px
		padding-left 16px

		&.title
			padding-top 32px
			padding-bottom 16px
			margin-bottom 0

	.nav-placeholder
		width 100%

	#language-nav
		top 0
		left 0
		width 100%
		padding 10px
		display flex
		justify-content center
		gap 5px

		&.fixed
			position fixed
			left 0
			right 0
			z-index 2
			background $parchment
			border-bottom 2px solid $border-color

	.nav-btn
		padding 4px 10px
		cursor pointer
		text-decoration none
		text--body($blue())

		&.active
			font-weight bold

		&.loading
			color $grey-25
			pointer-events none
			cursor pointer

		&:hover
			font-weight 900

	.language-group
		padding 20px 0
		scroll-margin-top 162px

	.language-columns
		$gutter = 8px
		$columns = 5
		display grid
		flex-wrap wrap
		grid-template-columns repeat(auto-fill, minmax((($content - ($gutter * $columns)) / $columns), 1fr))
		column-gap $gutter

	.language-item
		text--body($blue())
		padding 8px 16px
		border-radius 4px
		text-decoration none
		display flex
		position relative

		*
			float left

		&.has-speakers
			font-weight 900

			span
				color $blue()

				&::before
					position absolute
					content ''
					width 4px
					height 21px
					left 4px
					border-radius 0 4px 4px 0
					background $blue(28)

		&:hover
			background $blue(10)

		span
			margin-right 1rem
			font-family monospace
			color gray

	#loading-spinner
		text-align center
		padding 16px
		display none
		align-items center
		justify-content center

		.spinner
			width 40px
			height 40px
			float left
			border 5px solid $border-color
			border-top-color $blue()
			border-radius 50%
			animation spin 1s linear infinite

		@keyframes spin
			to
				transform: rotate(360deg)

		p
			text--body($blue())
			float left
			margin 0 16px

@media all and (max-width:$mobile)
	#language-list-container
		#language-nav
			justify-content flex-start
			overflow-x scroll

			.nav-btn
				font-size 2.4rem // mobile