.main-content
	margin 3.2rem auto
	width 90%
	max-width $content
	clear both


	h1
		margin auto

	h1,h2
		text--header($black)

	h3, strong
		text--strong($black) // Using both h3 and strong due to template return
		font-size 1.6rem
		margin 1.6rem 0
		display block

	p,
	article
		text--body($black)
		margin 0 auto
		padding 0.2rem 0 .6rem
		line-height 2.6rem

		&:first-of-type
			&::first-letter
				text--header($black)
				font-size 3.2rem

		a
			text--body($blue())
			anchor($blue(),2px)

	ul
		text--body($black)
		padding 0
		display inline-block

		&.link-group
			li
				list-style-type none
				padding 0

				a
					text--body($blue())
					border-left 2px solid $blue()
					padding 4px 8px
					float left

					&:hover
						text-decoration underline

		li
			margin-bottom 8px
			list-style-type initial
			padding 4px 8px
			float left
			clear both

			&:last-of-type
				margin-bottom 0

	&.wt_single-videos__embed
		margin-bottom 0

	>div,
	img
		margin-left auto
		margin-right auto
		max-width 100%

	&.has-image
		.image-container
			border-radius 4px
			background $black
			padding 8px
			float right
			width (2 / 3) * 100%
			margin 0 -32px 8px 16px

			p
				color $parchment
				padding .6rem 0 0

				&::first-letter
					text--body(inherit)
					font-size 1.6rem

		&:nth-of-type(2n - 1)
			margin-top 48px

			.image-container
				float left
				margin 0 16px 8px -32px