.main-content
	margin 0 auto 6.4rem
	width 90%
	max-width $content

	h1
		margin auto
		max-width 600px

	h3
		text--strong($black)
		margin 1.6rem 0 0

	p,
	article
		text--body($black)
		margin 0 auto
		padding 0.2rem 0 .6rem
		line-height 2.6rem

		strong
			text--strong($black)

		a
			text--body($blue)
			anchor($blue, 2px)

	ul
		text--body($black)
		margin 0 auto 3rem
		padding 0 0 0 1.5rem

		li
			list-style disc

			a
				text--body($blue)

	>div,
	img
		margin-left auto
		margin-right auto
		max-width 100%