.wt_fellow__meta
	width 90%
	max-width 600px
	margin 0 auto 3rem
		
	article
		margin-bottom 1.5rem
		
		strong
			text--strong($black)
	
	ul	
		margin-top .5rem
				
		li
			display inline-block
			margin-right 1.5rem
			text--body($black)
			
			&:last-of-type
				margin-right 0
			
			a
				text--body($blue)
				text-decoration none
	
	&--links
		ul li
			display block !important