// Dark mode variables
// $background = $black
// $copy = $parchment
// $links = $copy
// $language-hover = blend(rgba($blue(10), .1), $black)
// $positioning = 4.8rem 0

// Light mode variables
$background = $parchment
$copy = $black
$links = $blue()
$language-hover = $blue(10)
$positioning = 4px 0 4.8rem

.wt_fellow__meta
	width 100%
	background $background
	padding $positioning

	.head
		width 90%
		max-width $content
		margin 0 auto
		display flex
		align-items flex-end
		color $copy

		div.image,
		div.name
			float left
			vertical-align top
			width 50%

		div.image
			height 0
			width (100/3)*2%
			padding-bottom 37.5%
			background-size cover
			background-color $blue()
			background-position center
			border-radius 1.6rem 0 1.6rem 0

		div.name
			width (100/3)*1%
			padding 0 0 0 2.4rem
			height 100%

			h3
				text--header(inherit)
				margin-bottom 1.6rem

		.info
			display flex
			flex-direction column
			gap 1.6rem
			text--body(inherit)

			> p
				border-bottom 2px solid
				border-color $blue(20)
				padding-bottom 16px

			.meta-info
				display grid
				grid-template-columns 2fr 1fr
				gap 1.6rem

				span
					margin 0

					&.fellow-territory,
					&.fellow-cohort
						border-bottom 2px solid
						border-color $blue(20)
						padding-bottom 8px

					p
						white-space nowrap
					a
						display block
						white-space nowrap
						text--strong($links) // a
						line-height 4rem

						&:hover
							text-decoration underline

						&.language
							border-bottom 2px solid
							border-bottom-color inherit
							text-decoration none
							display flex
							padding 4px 12px
							float left
							align-items flex-end
							border-radius 4px 4px 0 0
							margin-left -12px
							width calc(100% + 12px)

							&:hover
								background $language-hover

							span.identifier, p
								float left
								line-height 2

							span.identifier
								color inherit
								font-weight 800
								flex initial
								min-width initial
								margin-right 1rem

							p
								line-height 2

								span.identifier, p
									color $links

	article
		margin-bottom 1.6rem

		strong
			text--strong($black)

	ul
		margin-top .5rem
		display inline-block

		li
			text--body($black)
			margin-right 0.8rem

			&:last-of-type
				margin-right 0

			a
				text--body($blue())

	&--social
		ul
			li
				color inherit
				margin-left 8px
				float left

				a
					font-size $socialIcon
					anchor($links,4px)
					color $links

.wt_fellow__meta--links
	ul
		list-style initial

		li
			margin .1rem 1.6rem .1rem 2rem

			a
				anchor($blue(),2px)

@media all and (max-width:$mobile)
	.wt_fellow__meta
		max-width initial

		.head
			flex-direction column
			margin-bottom 32px

			div.image,
			div.name
				width 100%

			div.image
				padding-bottom 56.25%
				margin-bottom 16px

			div.name
				padding 0