.wt_fellow__meta
	width 90%
	max-width $content
	margin 0 auto 4.8rem

	.head
		display flex
		width 100%
		align-items flex-end
		margin-bottom 4.8rem

		div.image,
		div.name
			float left
			vertical-align top
			width 50%

		div.image
			height 0
			width (100/3)*2%
			padding-bottom 37.5%
			background-size cover
			background-color $blue
			background-position center
			border-radius 1.6rem 0 1.6rem 0

		div.name
			width (100/3)*1%
			padding 0 0 0 2.4rem
			height 100%

			h3
				text--header($black)
				margin-bottom 1.6rem

		.info
			display flex
			flex-direction column
			gap 1.6rem
			text--body($black)

			.languages
				margin-left -8px

				a.language
					color $blue
					border-bottom 2px solid $blue
					text-decoration none
					display flex
					padding 4px 12px
					float left
					align-items flex-end
					width fit-content
					margin-left 8px
					border-radius 4px 4px 0 0

					&:hover
						background $blue-10

					&:first-of-type
						margin-left 0

					span.identifier, p
						float left
						line-height 2

					span.identifier
						color $blue
						font-weight 800
						flex initial
						min-width initial
						margin-right 1rem

					p
						line-height 2

						span.identifier, p
							color $parchment


			p.categories
				font-weight bold

			a.cohort
				text--strong($blue) // a
				text-decoration none

	article
		margin-bottom 1.6rem

		strong
			text--strong($black) // strong

	ul
		margin-top .5rem
		display inline-block

		li
			text--body($black)
			margin-right 0.8rem

			&:last-of-type
				margin-right 0

			a
				text--body($blue)

	&--social
		ul
			li
				margin-left 8px
				float left

				a
					font-size $socialIcon
					anchor($blue, 4px)

	&--links
		ul
			list-style initial

			li
				margin .1rem 1.6rem .1rem 2rem

				a
					anchor($blue, 2px)

@media all and (max-width:$mobile)
	.wt_fellow__meta
		max-width initial

		.head
			flex-direction column
			margin-bottom 32px

			div.image,
			div.name
				width 100%

			div.image
				padding-bottom 56.25%
				margin-bottom 16px

			div.name
				padding 0