.wt_meta--languages-single
	width calc(100%/4)
	float left
	padding-left 6rem
	margin-bottom 6.4rem

	h1
		margin-bottom 3rem
		text--header($black)

	.metadata
		padding 16px 0
		border-bottom 2px solid $border-color
		display inline-block
		width 100%

		&:first-of-type
			padding-top 0

		&:last-of-type
			border-bottom 0

		&#identifiers
			span
				width 50%
				float left

	strong
		text--strong($black)
		display block
		margin-bottom 4px

		&.wt_sectionHeader
			padding-bottom 12px

	p
		text--body($black)
		display block
		margin-bottom 16px

		&:last-of-type
			margin-bottom 0

	ul
		li
			margin-bottom 1.2rem

			&:last-of-type
				margin-bottom 0

		&.resources
			li
				display inline-block
				width 100%

			a
				clear both

				&:last-of-type
					float left
	a
		text--body($blue())
		text-decoration none
		display block
		line-height 1.6

		&:hover
			text-decoration underline

		strong
			text--strong($blue())

		span
			text--body($blue())

		&.official-link
			padding 4px 8px
			border-left 2px solid $blue()
			font-weight bold

	button
		margin-top 1rem
		button--secondary($red, $parchment)

@media all and (max-width:$mobile)
	.wt_meta--languages-single
		float none
		margin-bottom 6rem
		width 100%
		padding 0 3rem