.wt_newsletter
	clear both
	margin 1.6rem 3.2rem 0
	padding 6rem 0
	text-align left
	text-transform initial
	border-top 2px solid $border-color
	box-sizing border-box

	h2
		text--header($black)

	h2,
	p
		width 600px
		margin 0 auto

	p
		text--body($black)
		margin-top 3rem

	#mc_embed_signup
		max-width 600px
		margin 5rem auto 3rem

		label
			display block
			margin-bottom 1rem
			text--strong($black) // label
			pointer-events none

		form
			#mc_embed_signup_scroll
				width 100%
				display flex

				.mc-field-group
					float left
					flex-grow 1
					margin-right 16px

				input
					border none
					-webkit-appearance none

					&[type="email"]
						width 100%
						background $parchment
						font-family 'Graphik Web'
						color $blue
						padding 1.6rem 1.6rem
						font-size 1.6rem
						line-height 1.3
						text-transform none
						border-bottom 2px solid $blue
						margin-right 8px
						border-radius 4px 4px 0 0
						transition background .1s ease-in-out

						&:focus,
						&:hover
							outline none
							background $blue-10

					&[type="submit"]
						button--large($blue, $parchment)
						cursor pointer

@media all and (max-width $mobile)
	.wt_newsletter
		padding 4rem 3rem 6rem 3rem

		h2, p
			width 100%

		h2
			font-size 4rem // mobile

		form
			> div
				display block

			input
				&[type="email"]
					width 100%
					text-align center

				&[type="submit"]
					width 100%
