.wt_newsletter
	display flex
	flex-direction row
	border 16px solid $black
	background-size 75%
	background-position 100% 50%
	transform scaleX(-1)

	#content
		transform scaleX(-1)
		background $parchment
		float left
		padding 1rem 3rem 3rem
		margin -16px 3rem
		display flex
		flex-direction column

		h2
			text--header($black)
			margin-bottom 3rem
			line-height 1.2

		h2,
		p
			width 390px

		p
			text--body($black)
			margin-bottom 4rem

		#mc_embed_signup
			max-width 600px
			margin-top 3rem

			label
				display block
				margin-bottom 1rem
				text--body($black)
				font-size 1.4rem
				pointer-events none

				&::after
					content '*'
					margin-left 4px

			form
				#mc_embed_signup_scroll
					width 100%
					display flex

					.mc-field-group
						float left
						flex-grow 1
						margin-right 16px

					input
						border none
						-webkit-appearance none

						&[type="email"]
							width 100%
							background $parchment
							font-family 'Graphik Web'
							color $blue()
							padding 1.6rem 1.6rem
							font-size 1.6rem
							line-height 1.3
							text-transform none
							border-bottom 2px solid $blue()
							margin-right 8px
							border-radius 4px 4px 0 0
							transition background .1s ease-in-out

							&:focus,
							&:hover
								outline none
								background $blue(10)

					button
						button--secondary($blue(),$parchment)
						cursor pointer
						height 100%
						transition all .15s ease-in-out

						&:disabled
							background $blue(20)
							color $blue()
							cursor not-allowed

@media all and (max-width $mobile)
	.wt_newsletter
		padding 4rem 3rem 1rem 3rem
		margin 1.6em 0 0

		#content
			h2, p
				width 100%

			h2
				font-size 4rem // mobile

			form
				> div
					display block

				input
					&[type="email"]
						width 100%
						text-align center

					&[type="submit"]
						width 100%
