body
	&.single-languages
		.wt_header
			&__nav
				&>ul>li
					&:first-of-type
						&:hover
							&:before
								display none !important

							.sub-menu
								display none !important

	.wt_single-languages
	.wt_single-territories
		&__content
			width calc(100%/4*3)
			float left
			padding 0 6rem 6rem
			box-sizing border-box

		&__contents
			margin-bottom 6rem
			display flex
			flex-direction column

			&:last-of-type
				margin-bottom 0

			&#wt_single-languages__fellows
				margin-bottom 3rem
				p
					text--body($black)

					a
						&:first-of-type
							font-weight 700

			&#wt_single-languages__lexicons
				gap 16px

				.custom-cta-container
					margin-top 0

			&#wt_single-languages__lexicons,
			&#wt_single-languages__resources

				.wt_content-block--thirds
					&:before
						display none

					&__image
						display none

					&__copy
						padding-top 3.5rem
						padding-bottom 4rem
						background $blue()

@media all and (max-width:$mobile)
	.wt_single-languages
		&__content
			float none !important
			width 100% !important
			padding 0 3rem !important