.page-template-template-about-staff,
.page-template-template-about-board
	.wrapper
		display flex
		flex-direction row
		flex-wrap wrap
		justify-content center
		align-items flex-start
		max-width $content
		margin 0 auto 4.8rem
		grid-row-gap 2.4rem

		> h4
			width 100%
			text--header($black)
			margin 0
			grid-column span 3

.custom-gallery.careers
	width $content
	margin 6.4rem auto

	h4
		text--header($black)
		border-bottom none
		margin-bottom 0

	.gallery-container
		.gallery-list
			.gallery-item
				a
					background-color transparent
					color $black
					anchor($blue(),4px)
					height initial
