.page-template-events-page
	scroll-behavior smooth

	.filter-buttons
		max-width $content
		width calc(100% - 3.2rem)
		margin 0 auto
		border-bottom 2px solid $border-color
		margin-bottom 16px

		button
			background none
			border none
			text--body($blue())
			padding 1.6rem
			cursor pointer

			&.active
				font-weight bold

	.event-list
		max-width $content
		width 100%
		display flex
		flex-wrap wrap
		justify-content flex-start
		margin 0 auto

		.empty-events
			width 100%
			text--body($grey-50)
			text-align center
			padding 6.4rem 1.6rem
			border-radius 16px
			flex 2

		.event-entry
			width 100%
			max-width 50%
			margin-bottom 32px
			text--body($black)
			padding 1.6rem
			border-radius 16px
			flex 1 1 calc(50% - 1rem)

			h5
				text--header($black)

			h5, .event-details
				margin-bottom 8px

			.event-details
				margin-left 1.6rem
				display inline-block

				p
					float left
					color $grey-50

					&:first-of-type
						margin-right 1.6rem

			.event-description
				margin-left 1.6rem

			a
				display inline-block
				text-decoration none
				color $blue()
				padding 8px 12px
				margin 4px 0px
				border-radius 4px

			&:hover
				a
					background $blue()
					color $parchment

@media (max-width: $mobile)
	.page-template-events-page
		.event-list
			.event-entry
				flex 1 1 100%
				margin 0 1.6rem 1.6rem