.page-template-faq-page
	scroll-behavior smooth

	.faq-container
		position relative
		margin 0 auto 128px
		padding-top 7rem
		width 100%
		display flex
		box-sizing border-box
		flex-direction row-reverse
		justify-content center
		align-items flex-start

		.faq-content
			max-width $content
			padding-right 32px
			margin-top -7rem

			h1
				text--header($black)

			h4
				text--header($black)
				text-align left
				margin 1.6rem 0
				padding-bottom 1rem
				border-bottom 2px solid $border-color
				scroll-margin-top 75px

				&:first-of-type
					margin-top 0

			strong
				text--strong($black) // strong
				margin .8rem 0 0

			.faq-entry
				padding-left 1.6rem
				margin-bottom 2.4rem
				border-left 2px solid transparent

				&:hover
					border-left-color $blue

				p, li
					text--body($black)
					line-height 2.6rem
					margin-left 1.6rem
					padding 0.2rem 0

					b
						font-weight 700

					a, a:visited, a:active, a span
						anchor($blue, 2px)

				ol, ul
					list-style-type auto
					margin-left 2.4rem

		.faq-navigation
			position sticky
			z-index 9
			top 200px
			min-width 360px

			ul
				list-style none
				margin 0
				padding 0

				li
					line-height 3rem
					clear both

					a
						text-decoration none
						text--body($blue)
						padding-left .8rem
						position relative

						&::before
							content ''
							width 4px
							height 18.5px
							position absolute
							left -4px
							top 0
							border-radius 0 4px 4px 0
							background transparent

						&.active
							text--strong($blue) // a

							&::before
								background $blue-22

			p
				text--body($black)
				font-size 1.2rem
				margin-top 1.6rem

				a
					clear both
					color $blue
					text-decoration none
					font-size inherit

@media (max-width: $mobile)
	.page-template-faq-page
		.faq-container
			padding-top 0
			margin-bottom 64px

			.faq-navigation
				display none

			.faq-content
				padding 0 32px
				margin-top 0

				h4
					padding-top 0

				ul
					margin-bottom 0