.react-typeahead-container
  float left
  display inline-block
  margin-left 2rem

  .typeahead-form
    position initial
    width initial
    max-width initial
    margin initial
    font-family 'Graphik Web'
    font-size 1.28rem // issue

    .typeahead-input
      background  $parchment
      border-radius 8px
      font-family inherit
      font-size inherit
      outline-color $blue()
      transition-property background, width
      transition-duration 0.6s
      transition-timing-function cubic-bezier(0.16, 1, 0.3, 1);

      &::placeholder
        color $parchment
        color $blue()
        font-family 'Graphik Web'
        font-style italic
        font-size inherit

      &:active,
      &:focus
        color $blue()

        &::placeholder
          color $blue()

    .typeahead-list
      background $parchment
      font-family inherit
      font-size inherit
      border none
      margin-top 4px

      .typeahead-item
        &.selected
          background $blue(15)

          &[data-resource="true"]::before,
          span.highlight
            background-color $blue(30)

        &:hover
          background $blue(10)

          &[data-resource="true"]::before,
          span.highlight
            background-color $blue(28)


        &[data-resource="true"]::before,
        .highlight
          background-color $blue(25)

        &[data-resource="true"]
          .identifier
            color $blue()

        span
          &.label
            position relative
            color $blue()
            font-family inherit
            font-size inherit

          .highlight
            background $blue(25)
            transition: background 0.6s cubic-bezier(0.65, 0, 0.35, 1);