$video_size = (9/16)*100 // in viewport widths

.wt_single-videos
	&__content
		width 100%
		margin 0 auto 6rem auto

		&--body
			width 90%
			max-width $content
			margin auto

		h1
			margin 0 auto 3rem
			width 100%
			max-width $content
			text--header($black)

	&__video,
	&__no-video,
	&__embed
		background $black
		padding 4rem 0
		margin-bottom 6rem

	&__no-video
		display flex
		min-height ($video_size/16*9)vw
		align-content center

		p
			margin auto
			vertical-align middle
			text-align center
			max-width ($video_size)vw
			text--body($parchment)

	&__video
		width 100%

	&__embed
		max-width $content
		margin 0 auto 6.4rem
		border-radius 4px

		h3
			text-align left
			padding 16px 0 0 32px
			font-size 20px
			font-weight 400

	&__video,
	&__embed
		text--strong($parchment)
		text-align center

		video
			background lighten($black, 10%)
			width 100%

		video,
		iframe
			min-height ($video_size/16*9)vw
			max-width ($video_size)vw

		p
			background $purple

		img
			width 100%
			height auto

@media all and (max-width:$mobile)
	body
		&.logged-in
			.wt_single-videos__content
				h1
					width 90%

				.wt_single-videos
					&__content
						margin 0

					&__video
						margin-bottom 3rem
						padding 5vw 0

						video,
						iframe
							min-height (90/16*9)vw
							max-width (90)vw