name: Test

on:
  pull_request:
    branches:
      - main

jobs:
  unit-tests:
    name: PHPUnit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          tools: composer

      - name: Install PHP dependencies
        run: composer install --no-progress

      - name: Run tests
        run: composer test
